// first column
#art {
    .news-two p {
        font-size: 20px;
        text-transform: capitalize;
        font-family: EloquentJFRegularPro ☞;
    }
    .news-two h2 {
        font-size: 25px;
        text-transform: capitalize;
        font-family: EloquentJFRegularPro ☞;
    }
    .section-three {
        padding: 15px 0 0 0;
    }
    .sign-in-section input[type="text"] {
        padding: 10px 10px;
        width: 100%;
    }
    .news-two {
        padding: 0 0 10px 0;
        border-bottom: 2px solid #EBEEF1;
        margin-bottom: 10px;
    }
    .sign-in-section input[type="text"] {
        background: #EBEEF1;
        border: none;
        font-family: 'Montserrat', sans-serif;
        margin: 0 0 10px 0;
        border-radius: 4px;
    }
    button.signupbtn {
        text-align: center;
        width: 100%;
        padding: 13px 0;
        cursor: pointer;
        border-radius: 4px;
    }
    .main-column p {
        text-transform: capitalize;
    }
    .column p {
        font-size: 20px;
        font-family: EloquentJFRegularProfo ☞;
    }
    .all-column p {
        color: #990000;
    }
    .main-column {
        padding: 20px 0 12px 0;
        border-bottom: 1px solid;
        margin: 0 0 10px 0; 
    }
    .art {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 286px;
        max-width: 374px;
        transition: all .3s ease-in-out;
        background-size: 100%;
        position: center;
            &:hover { 
                background-size: 105%;
                position: relative;
            }
    }
    .column {
        display: inline-block;
        width: 50%;
    }
    .all-column {
        display: inline-block;
        width: 50%;
        text-align: right;
    }
    .art-second {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 286px;
        max-width: 362px;
        transition: all .3s ease-in-out;
        background-size: 100%;
        position: center;
            &:hover { 
                background-size: 110%;
                position: relative;
            }
    }
    .art-third {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 400px;
        
    }
    .sponsores-t p {
        font-size: 13px;
    }
    // radio button scss
    .opinion-input {
        width: 50%;
        display: inline-block;
        text-align: left;
        padding: 0 0 15px 0;
    }
    .submit-btn button {
        text-align: center;
        width: 100%;
        padding: 13px 0;
        cursor: pointer;
        border: none !important;
        font-family: 'Montserrat', sans-serif;
    }
    .question h2 {
        font-size: 20px;
    }
    .question {
        padding: 20px 0 20px 0;
    }
    .result a {
        color: #990000;
    }
    .result {
        text-align: right;
        padding: 20px 0;
        font-size: 14px;
    }
    .opinion-input label {
        font-family: 'Montserrat', sans-serif;
    }
    
    // part-two
    .more-stories {
        text-align: right;
        padding: 30px 0 20px 0;
    }
    .more-stories a {
        text-transform: capitalize;
        color: #990000;
        font-size: 12px;
    }
    .arts-img {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 286px;
        max-width: 362px;
        transition: all .3s ease-in-out;
        background-size: 100%;
        position: center;
            &:hover { 
                background-size: 105%;
                position: relative;
            }   
    }
    .arts-living h2 {
        font-size: 16px;
        font-weight: bold;
        text-align: left;
       }
    .arts-bdr {
        border-bottom: 1px solid #EBEEF1;   
    }
    .sponsores-h.text-left {
        padding: 10px 0;
    }
    .arts-bdr {
        padding: 5px 0;
    }
    .heading {
        margin-bottom: 0;
    }
    // paddinf main 3 row
    .cell.large-4.news-section {
        padding: 10px 15px 0 10px;
    }
    .arts-entertainment.large-6 {
        padding: 0 10px;
    }
    .living {
        padding: 0 0 0 20px;
    }
    .arts-living {
        padding: 10px 0;
    }
    .column p {
        font-size: 20px;
        font-family: EloquentJFRegularPro ☞;
    }
    .sponsored {
        padding: 12px 0;
        display: inline-block;
    }
    
    // sports and feature
    .feature h2 {
        font-weight: 500;
        font-family: EloquentJFRegularPro ☞;
        font-size: 21px;
        text-transform: capitalize;
    }
    .image-sport {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 4px;
        height: 287px;
        max-width: 362px;
        transition: all .3s ease-in-out;
        background-size: 100%;
        position: center;
            &:hover { 
                background-size: 105%;
                position: relative;
            }
    }
    .hh-sport h2 {
        font-size: 20px;
        font-weight: bold;
    }
    .pp-sport p {
        font-size: 12px;
        text-transform: capitalize;
    }
    .hh-sport h2 {
        font-size: 20px;
        font-weight: bold;
        padding: 10px 0;
    }
    .hh-sport {
        padding: 20px 0;
    }
    .more-head-p p {
        font-size: 14px;
    }
    .more-head-h2 p {
        font-size: 12px;
        text-transform: capitalize;
    }
    .more-head-h2 {
        padding: 10px 0;
    }
    .more-head-p p {
        font-size: 14px;
    }
    .more-sports-two.text-right a {
        font-size: 12px;
        color: #990000;
        text-transform: capitalize;
    }
    .more-head-p {
        padding: 10px 0;
    }
    .sports-bdr {
        border-bottom: 1px solid #EBEEF1;
    }
    .john.grid-x {
        padding: 0 0 10px 0;
    }
    .more-sports-two.text-right {
        padding: 25px 0 0 0;
    }
    .cell.largr-8.feature {
        border-bottom: 1px solid #EBEEF1;
        padding-bottom: 10px;
        margin: 40px 0 33px 10px;
    }
    .cell.large-6.soprts-left {
        padding: 0 10px;
    }
    .more-heading {
        padding: 0 10px;
    }
    
    .more-img img  {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .more-img:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    
    // food and drink
    .pp-sport {
        padding: 20px 0;
    }
    .food-drink {
        padding: 10px 0;
        border-bottom: 1px solid #000000;
        margin: 0 0 20px 10px;
    }
    .cell.food-drink-one.large-6 {
        padding: 0 10px;
    }
    .cell.food-drink-two.large-6 {
        padding: 0 0 0 10px;
    }
    .grid-x.annu-slid-pad {
        text-align: center;
        padding: 20px;
    }
    .food-drink h2 {
        font-family: EloquentJFRegularPro ☞;
        font-size: 21px;
        text-transform: capitalize;
    }
    // living stories
    .living {
        padding: 0 10px 0 10px;
    }
}
