#breaking-news {
    // section scss
    .section-part.cell {
        border-bottom: 1px solid #EBEEF1;
        padding: 0 0 20px 0;
    }
    // breaking scss
    .breaking-one {
        display: inline-block;
        width: 20%;
    }
    .breaking-two {
        display: inline-block;
        width: 73%;
    }
    .breaking-three {
        display: inline-block;
        width: 5%;
        padding: 0 0 0 20px;
    }
    .breaking.grid-x p {
        color: #fff;
        font-size: 18px;
    }
    .breaking-one {
        padding: 0 0 0 38px;
    }
    .breaking-one p {
        text-transform: capitalize;
        font-family: EloquentJFRegularPro ☞;
    }
    .breaking.grid-x {
        padding: 15px 0;
    }
    .breaking-three i.fas.fa-times {
        color: #fff;
        font-size: 18px;
    }
    // for breaking class
    .breaking .callout.alert {
        background-color: #000;
        padding: 10px 0 15px 0;
        width: 100%;
        margin: 40px 0;
    } 
    .breaking .callout {
        margin: 0;
        padding: 0;
        border: none;
    }
    .breaking button {
        background: none;
        color: #fff;
    }
    .about-us {
        text-align: center;
        width: 100%;
    }
    .about-us h2 {
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }

    // heading right-left padding
    .cell.large-8.heading-right {
        padding: 0 0 0 19px;
    }
    .cell.large-4.heading-left.text-center {
        padding: 0 19px 0 0;
    }    
    // sponsored
    .bld h2 {
        font-weight: 600;
    }
    .sponsores-h.bld.text-left h2 {
        font-size: 20px;
        font-weight: bold;
    }
    .sponsores-left {
        text-align: left;
        width: 49%;
        display: inline-block;
    }
    .sponsores-right {
        text-align: right;
        width: 50%;
        display: inline-block;
    }
    .sponsores-right button {
        color: #fff;
        background-color: #000000;
        padding: 9px 19px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 5px;
    }
    .comn-p p {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 300;
        text-transform: capitalize;
    }
    .sponsores-t {
        padding: 0 0 10px 0;
    }
    .sponsored {
        border-bottom: 1px solid #EBEEF1;
    }
    .sponsores-h {
        padding: 10px 0 20px 0;
    }
    .sponsores-h h2 {
        font-size: 20px;
        font-weight: 400;
    }
    // heading-right
    .side-images {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;    
        height: 423px;
        margin: 0 0 20px 0;
        max-width: 850px;
        transition: all .3s ease-in-out;
        background-size: 100%;
            &:hover { 
                background-size: 110%;
                position: relative;
            }
               
    }
    .side-category li {
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid #000000;
    }
    .side-category a {
        font-size: 14px;
        color: #990000;
        text-transform: capitalize;
    }
    .side-category li:first-child {
        padding-left: 0;
        color: #990000;
    }
    .side-category li:last-child {
        border: none;
    }
    .cell.center-category {
        padding: 28px 0;
    }
    .cell.center-category h2 {
        font-weight: bold;
        font-size: 45px;
    }
    .cell.bottom-category p {
        font-size: 16px;
    }
    .category-a a {
        font-family: EloquentJFRegularPro ☞;
    }
    // for video-photo-archive page scss
    .section-latest {
        text-align: center;
        padding: 24px 0;
    }
    .section-latest h2{
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        color: $red;
    }
//  fa tab scss
    /* Component Needs */

    .pc-tab > input,
    .pc-tab section > div {
        display: none;
    }

    #tab1:checked ~ section .tab1,
    #tab2:checked ~ section .tab2,
    #tab3:checked ~ section .tab3 {
        display: block;
    }

    #tab1:checked ~ nav .tab1,
    #tab2:checked ~ nav .tab2,
    #tab3:checked ~ nav .tab3 {
    color: red;
    }

    /* Visual Styles */

        $activeColor: #ffffff;
        $unactiveColor: #eeeeee;
        $unactiveHoverColor: #dddddd;
    body {
        -webkit-font-smoothing: antialiased;
        background: #ecf0f1;
    }
    .pc-tab { 
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
        label {
            font-family: EloquentJFRegularPro ☞;
            float: left;
            padding: 15px 25px;
            border-bottom: 1px solid #000;
            color: #444;
            text-transform: capitalize;
            font-size: 18px;
            &:hover {
            background: $unactiveHoverColor;
            }
            &:active {
            background: $activeColor;
            }
        }
        &:not(:last-child) label {
            border-right-width: 0; 
        }
        }
    }
    section {
        clear: both;
    }
    }
    #tab1:checked ~ nav .tab1,
    #tab2:checked ~ nav .tab2,
    #tab3:checked ~ nav .tab3 {
    label {
        color: #fff;
        position: relative;
        background: #990000;
        font-size: 18px;
        text-transform: capitalize;
        font-family: EloquentJFRegularPro ☞;
        &:after {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: -1px;
        }
    }
    }

    footer {
        margin-top: 50px;
        font-size: 14px;
        color: #CCC;
        text-align: center;
    a {
        color: #AAA;
        text-decoration: none;
    }
    }
}
  