// briefs 
#briefs {   
    .briefs-main {
        padding: 20px 0 0 0;
    }
    .briefs-heading-th h2 {
        font-size: 20px;
    }
    .briefs-title-two {
        padding: 12px 0 0 0;
    }
    .briefs-h {
        border-bottom: 1px solid #000;
        padding-bottom: 16px;
        margin-bottom: 20px;
    }
    .briefs-title h2 {
        font-size: 20px;
        font-family: EloquentJFRegularPro ☞;
        text-transform: capitalize;
        font-weight: 500;
    }
    .briefs-title-two h3 {
        font-size: 14px;
        text-transform: capitalize;
        color: #990000;
    }
    .briefs-heading-t {
        padding: 14px 0;
    }
    .heading-last-bdr {
        border-bottom: 1px solid #000;
    }
    .briefs-add-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
    }
    .briefs-add-img-cls {
        padding: 50px 0 0 0;
    }
    .briefs-heading-th h3 {
        color: #990000;
        text-transform: capitalize;
        font-family: EloquentJFRegularPro ☞;
        font-size: 14px;
        padding: 5px 0 5px 0;
    }
    .briefs-heading-th p {
        font-size: 14px;
        font-family: roboto;
        text-transform: capitalize;
    }     

    //briefs get news in section scss
    .news-two.briefs-news {
        border: none;
        border-bottom: 1px solid #000000;
    }
    .briefs-news p {
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 500;
        font-family: EloquentJFRegularPro ☞;
    }
    .submit-letter-btn button {
        background: #990000;
        padding: 17px 43px;
        border-radius: 4px;
        color: #fff;
        text-transform: capitalize;
        cursor: pointer;
    }
    .submit-letter-P p {
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 500;
        text-align: center;
    }
    .submit-letter {
        padding: 71px 0;
        background: #DDDDDD;
    }
    .submit-letter-btn.text-center {
        padding: 40px 0 0 0;
    }
    .submit-letter {
        padding: 71px 0;
        background: #DDDDDD;
        margin: 40px 0 0 0;
    }
    .twitter-main {
        background: #EBEEF1;
        text-align: center;
        padding: 250px 0;
        margin: 20px 0 0 0;
    }
    .twitter-p p {
        text-transform: capitalize;
    }
    .news-two.briefs-news {
        border: none;
        border-bottom: 1px solid #000000;
        padding-top: 40px;
        margin: 0 0 21px 0;
    }
    .sign-in-section input[type="text"] {
        color: #000;
        background: #DDDDDD;
        border: none;
        border-radius: 4px;
        padding: 20px 5px;
        width: 100%;
        font-family: roboto;
    }
    .sign-in-section button.signupbtn {
        padding: 20px 5px;
        width: 100%;
        border: none;
        border-radius: 4px;
        margin: 20px 0 0 0;
    }       
}