#brief-two {
    .featured-Stories h2 {
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        text-transform: capitalize;
    }
    .featured-center-btm h2 {
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        text-transform: capitalize;
    }
    .featured-center-btm {
        margin: 0;
        padding: 0 0 0 0;
    }
    .featured-Stories-main {
        border-bottom: 1px solid #000;
        margin: 9px 0 0 0;
    }
    .more-child-category{
        padding: 15px 0 0 0;
    }
    .featured-heading h2 {
        font-size: 40px;
        font-weight: bold;
    }
    .featured-category li {
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid #000;
    }
    .featured-category li:first-child { 
        padding-left: inherit; 
    }
    .featured-category li:last-child { 
        border-right: none; 
    }
    .featured-category h3 {
        font-family: EloquentJFRegularPro ☞;
        color: #990000;
        text-transform: capitalize;
        font-size: 14px;
    }
    .featured-category p {
        font-family: roboto;
        text-transform: capitalize;
        font-size: 14px;
    }
    .featured-heading-p p {
        font-size: 16px;
        line-height: 1.5;
    }
    .featured-heading-bg {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 350px;
    }
    .featured-bg-second {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 175px;
    }
    .feature-small-heading h2 {
        font-size: 25px;
        font-weight: bold;
    }
    .brief-img-category {
        border-bottom: 1px solid #EBEEF1;
        padding: 0 0 20px 0;
        margin: 0 0 25px 0;
    }
    .featured-category {
        padding: 10px 0;
    }
    .featured-heading-p {
        padding: 5px 0 10px 0;
    }
    .grid-x.featured-heading-content {
        padding: 30px 0 0 0;
    }
    .medium-6.featured-Stories {
        padding: 15px 0 0 0;
        margin: 0;
    }   
    // more-child category scss
    .more-child-img {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 211px;
    }
    .more-child-head.cell.large-7.medium-7 {
        padding: 0 10px;
    }
    .grid-x.more-child-clm {
        padding: 11px 0;
    }
    .feature-small-head {
        font-size: 20px;
        font-weight: bold;     
    }
    .more-child-head h2 {
        font-size: 14px;
    }
    .more-child-head h3 {
        font-size: 14px;
        font-family: EloquentJFRegularPro ☞;
        color: #990000;
        text-transform: capitalize;
        padding: 10px 0;
    }
    .more-child-head p {
        font-size: 14px;
        font-family: roboto;
        text-transform: capitalize;
    }
    .more-child-clm-img {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 98px;
    }
    
    .feature-heading h2 {
        font-size: 18px;
        font-weight: bold;
    }
    .featured-category-second li {
        display: inline-block;
    }
    .more-child-head-second h2 {
        font-size: 14px;
    }
    .more-category-stories button {
        background: #990000;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        padding: 18px 36px;
        cursor: pointer;
    }
    .more-category-stories.text-center {
        padding: 50px 0;
    }    
    .more-child-head.cell.large-6.medium-6 {
        padding: 0 0 0 5px;
    }
}