#category {
    padding: 0 10px;
    .category-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 250px;
    }
    .category-img-last {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 250px;
        margin: 30px 0 50px 100px;;
    }
    .category-title h2 {
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        text-transform: capitalize;
    }
    .category-title {
        padding: 20px 0;
    }
    .middle-brief {
        padding: 28px 0 0 0;
    }
}
