#comment {
    padding-bottom: 34px;
    .comment-john-doe-response i:hover {
        color: $red;
    }
    .comment-numbers {
        display: inline-block;
        padding: 0 0 0 50px;
    }
    .comment-heading {
        display: inline-block;
    }
    .comment-heading p {
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 400;
        font-family: EloquentJFRegularPro ☞;
    }
    .comment-main {
        border-bottom: 1px solid #000000;
        padding-bottom: 20px;
    
    }
    .comment-numbers i.far.fa-comment {
        color: $red;
        font-size: 22px;
    }
    .text-area-section textarea {
        width: 100%;
        height: 125px;
        background: #DDDDDD;
        border: navajowhite;
        border-radius: 4px;
    }
    .respond-head h2 {
        font-size: 18px;
        font-weight: 400;
    }
    .respond-head {
        padding: 20px 0 10px;
    }
    .notify-section input[type="submit"] {
        text-transform: capitalize;
        color: #fff; 
        font-weight: bold;
        border: none;
        background: #990000;
        font-family: 'Montserrat', sans-serif;
        padding: 16px 52px;
        cursor: pointer;
        border-radius: 4px; 
    }
    .comment-john-doe-response h1 {
        display: inline-block;
        padding: 0 10px;
        text-transform: capitalize;
        font-size: 14px;
    }
    .comment-john-doe-response i.fas.fa-reply {
        color: #8FA3AD;
        font-size: 24px;
    }
    .comment-john-doe-response i.far.fa-thumbs-up {
        color: #8FA3AD;
        font-size: 24px;
    }
    .comment-semi-time p {
        color: #8FA3AD;
        font-size: 12px;
    }
    .comment-semi-detail h2 {
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 600;
    }
    .comment-semi-detail {
        padding: 5px 0;
    }
    .comment-semi-time {
        padding: 5px 0;
    }
    .comment-john-doe-content p {
        font-size: 14px;
        line-height: 20px;
    }
    .comment-john-doe-content {
        padding: 10px 0 20px 0;
    }
    .comment-jonn-main {
        position: relative;
        padding: 25px 0 25px 0;
    }
    .comment-bdr {
        clear: both;
        border-right: 2px solid #EBEEF1;
        height: 140px;
        width: 2px;
        margin-left: 24px;
    }
    .comment-img img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: absolute;
        top: 25px;
        left: -25px;
    }
    .comment-john-doe.grid-x.admin {
        margin: 0 0 0 50px;
        background: #DDDDDD;
    }
    .comment-right-detail.cell.large-11.medium-11 {
        border-left: 2px solid#EBEEF1;
        padding-left: 45px;
    }
    .comment-john-doe.grid-x.admin-btm {
        padding: 0 0 0 47px;
    }
    .comment-john-doe.grid-x.admin-right {
        padding-left: 60px;
    }
    .respond-head-last h2 {
        font-size: 14px;
    }
    .notify-section button {
        color: #000000;
        background: #DDDDDD;
        text-transform: capitalize;
        font-size: 16px;
        padding: 17px 44px;
        margin: 0 17px;
        border-radius: 4px;
    }
    .comment-john-doe.grid-x.admin-right {
        border-left: 2px solid#EBEEF1;
    }
    .comment-john-doe.grid-x.admin-btm {
        border-left: 2px solid #EBEEF1;
    }
    .main-border-line:before {
        content: "";
        position: absolute;
        width: 2px;
        background: $red;
        border-left: 2px solid #EBEEF1;
        top: 50px;
        height: 500px;
    }
    .main-border-line {
        position: relative;
    }
    .semi-admin button {
        background: #000;
        color: #fff;
        text-transform: capitalize;
        padding: 7px 10px;
        border-radius: 20px;
        cursor: pointer;
    }
    .semi-admin {
        display: inline-block;
        width: 50%;
        text-align: right;
        padding: 0 25px 0 0;
    }
    .semi-detail-h2 {
        display: inline-block;
        width: 50%;
    }
   // for check box scss
    input[type=checkbox] + label {
        display: block;
        cursor: pointer;
        padding: 20px 0 0 0;
        font-size: 12px;
    }
    
    input[type=checkbox] {
        display: none;
    }
    
    input[type=checkbox] + label:before {
        content: "\2714";
        border: 0.1em solid #000;
        border-radius: 0.2em;
        display: inline-block;
        width: 1.5em;
        height: 1.4em;
        padding-left: 0.2em;
        padding-bottom: 1.4em;
        margin-right: 0.8em;
        vertical-align: bottom;
        color: transparent;
        transition: .2s;
    }
    input[type=checkbox] + label:active:before {
        transform: scale(0);
    }
    input[type=checkbox]:checked + label:before {
        background-color: $red;
        border-color: $red;
        color: #fff;
    }
    .submit-event-btn button {      
        width: 400px;
        padding: 17px 0;
    }
    .submit-event-btn  {
        width: 100%;
        padding: 50px 0 65px 0;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: $red;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    // comment after number thums up
    .comment-john-doe-response p {
        background: #990000;
        border-radius: 50%;
        text-align: center;
        font-size: 11px;
        font-weight: bold;
        padding: 6px 0;
        width: 25px;
        height: 25px;
        position: absolute;
        bottom: 40px;
        left: 150px;
        color: #fff;
    }
    .comment-john-doe-response h5 {
        background: #990000;
        border-radius: 50%;
        text-align: center;
        font-size: 11px;
        font-weight: bold;
        padding: 6px 0;
        width: 25px;
        height: 25px;
        position: absolute;
        bottom: 40px;
        left: 60px;
        color: #fff;
    }
    .comment-john-doe-response h6 {
        background: #990000;
        border-radius: 50%;
        text-align: center;
        font-size: 11px;
        font-weight: bold;
        padding: 6px 0;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 174px;
        left: 154px;
        color: #fff;
    }
    .comment-main {
        position: relative;
    }
    .comment-numbers h5 {
        background: #990000;
        border-radius: 50%;
        text-align: center;
        font-size: 11px;
        font-weight: bold;
        padding: 6px 0;
        width: 25px;
        height: 25px;
        position: absolute;
        top: -6px;
        left: 174px;
        color: #fff;
    }
}