// create death notice page
#death-notice {
    .obituary-premium {
        margin: 0 auto;
    }
    .common-btn-text {
        display: none;
    }
    .product-btn {
        display: none;
    }
    .obit-btn.large-12 {
        padding: 50px 0;
    }
    .common-btn-text {
        padding-top: 30px;
    }
}
// FOR TITLE 
#become-supporter {
    .title p {
        padding: 12px 0 0 30px!important;
        vertical-align: top;
    }
}