// create death notice page
#death-notice {
    .obituary-premium {
        margin: 0 auto;
    }
    .common-btn-text {
        display: none;
    }
    .product-btn {
        display: none;
    }
    .obit-btn.large-12 {
        padding: 50px 0;
    }
    .common-btn-text {
        padding-top: 30px;
    }
}