#delivery-info {
    .what-do-h h2 {
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        text-transform: capitalize;
        display: inline-block;
    }
    .what-do-h {
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        padding: 20px 0 10px 0;
    }
    .delivery-info p {
        font-family: Roboto, Regular;
        font-size: 18px;
        line-height: 1.5;
    }
    .delivery-info p {
        font-family: Roboto, Regular;
        font-size: 18px;
        line-height: 1.5;
        padding: 10px 0 30px 0;
    }   
    .total-number.cell h2 {
        font-size: 40px;
        font-weight: bold;
    }
    .total-number.cell h3 {
        font-size: 18px;
        text-transform: uppercase;
        padding: 20px 0;
    }
    .total-number.cell p {
        font-size: 14px;
        text-transform: capitalize;
        display: inline-block;
        vertical-align: top;
        padding: 0 0 0 20px;
    }
    .print-color p {
        font-size: 14px;
    }     
    .print-color {
        width: 10px;
        height: 20px;
        background: #990000;
        display: inline-block;
    }
    .gray-print {
        background:#8FA3AD;
    }
    .blue-print {
        background: #003D6B;
    }
    .delivery-total.grid-x {
        box-shadow: inset 0 0 25px #f2f2f2, 0 0 20px rgb(254, 254, 254);
        padding: 55px 0;
        position: relative;
    }
    .price-b {
        position: absolute;
        top: 74px;
        left: 390px;
    }
    .price-a.comn-price {
        position: absolute;
        top: 38px;
        left: 224px;
    }
    .price-c.comn-price {
        position: absolute;
        top: 210px;
        left: 131px;
    }
    .total-number li {
        padding: 10px 0;
    }
    .comn-price p {
        font-size: 18px;
        font-weight: bold
    }
      //-  advertise section scss   
    .contact-delivery h2 {
        font-size: 26px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px 0;
    }
    .contact-delivery button {
        color: #fff;
        background: #990000;
        padding: 17px 53px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 4px; 
        margin: 10px 0;
    }
    .contact-delivery {
        background: #DDDDDD;
        padding: 159px 0;
        text-align: center;
    }
    .ad-section {
        background: #990000;
        position: relative;
    }
    .gray-line {
        height: 11px;
        width: 176px;
        background: #dddddd;
        border-radius: 10px;
        margin: 0 0 24px 0;
    }
    .small-add {
        width: 55px;
        height: 46px;
        background: #AEBDC4;
        display: inline-block;
        border-radius: 4px;
        vertical-align: top;
    }
    .red-line {
        width: 55px;
        height: 116px;
        background: #990000;
        display: inline-block;
        border-radius: 4px;
        margin: 30px 0 0 0;
}
    .add-img {
        background: #fff;
        width: 289px;
        height: 347px;
        margin: 80px 0 0 112px;
        position: absolute;
        box-shadow: 1px 1px 8px 3px #ffffff70;
        z-index: 2;
        bottom: -27px
    }
    .small-line-inner {
        height: 11px;
        width: 99px;
        background: #dddddd;
        border-radius: 10px;
        display: inline-block;
        margin: 0 0 6px 22px;
    }
    .small-line {
        display: inline-block;
        width: 130px;
        margin: 0;
    }
    .add-gray {
        padding: 30px 0 0 20px;
    }
    .small-line-inner.inner-padd {
        margin: 7px 0 0px 22px !important;
    }
    .small-line-part {
        padding: 0 0 16px 0;
    }
    .cross-angle {
        width: 200px;
        height: 130px;
        background: #fff;
        position: absolute;
        z-index: 1;
        transform: skewX(34deg);
        bottom: -27px;
        left: 67px;
        box-shadow: inset 0 0 25px #f2f2f200, 0 0 20px #1a0404a6
    }
    .advertise.grid-x {
        padding-top: 40px;
    }
    .red-line h2 {
        text-align: center;
        padding: 49px 0;
        color: #fff;
        text-transform: capitalize;
        font-weight: 600;
    }
    .small-add  h2 {
        text-align: center;
        color: #fff;
        text-transform: capitalize;
        font-weight: 600;
        padding: 14px 0;
    }
    
    // tabs scss modification
// css tab new
.clearfix {
    &:after {
    content: "";
    display: table;
    clear: both;
    }
}
.tabgroup {
    position: relative;
    display: inline-block;
    width: 100%;	
        
    &__item {		
        -webkit-appearance: none;
        -moz-appearance: none !important;
        left: -99999px;
        padding: 0;		
        height: 0;
        width: 0;
        z-index: -100;
        outline: 0;
        
        &:checked {
            + .tab {
                color: #fff;
                position: relative;
                background: #990000;
                border-radius: 4px 4px 0 0;
            }
        }
        
        &--1:checked ~ .panel--1, &--2:checked ~ .panel--2, &--3:checked ~ .panel--3, &--4:checked ~ .panel--4,&--5:checked ~ .panel--5 {
            display: block;
            border: 1px solid #EBEEF1;
        }
    }
    
    .tab {
        float: left;
        width: 100%;
        display: block;
        padding: 15px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.15s ease-in;
    }
        
    .panel {	
        padding: 25px;
        display: none;
        width: 100%;
        
        .cta {
            background-color: #ff8037;
            padding: 10px 35px;
            color: white;
            border-bottom: 5px solid #b24e14;
            font-size: 20px;
            display: inline-block;
            text-decoration: none;
        }
    }
    }
    .panel p {
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
    }
    @media screen and (min-width: 768px) {	
        .tabgroup .tab {
            display: inline-block;
            float: none;
            width: auto;
        }
    }
}
