
#drop-down-menu {
    input[type="text-box"] {
        width: 50px;
        height: 20px;
    }
    .select-input-box {
        width: 30px;;
    }
    .cell.large-1.select-p {
        padding-left: 35px;
    }
    input[type="text-box"] {
        width: 50px;
        margin-left: 11px;
    }
}