#editorial-staff {
  .editorial-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 287px; 
    position: relative;
    border-radius: 4px;
  }
  .editorial-hover i.fas.fa-info {
    width: 20px;
    background: #fff;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #000;
  }
 
  .cell.large-4.medium-4.editorial-img-main {
      margin: 13px 0;
  }
  .more-staff-btn button {
    font-size: 14px;
    font-weight: 500;
    padding: 18px 43px;
    border-radius: 4px;
    cursor: pointer;
    
  }
  .more-staff-btn {
    text-align: center;
    padding: 20px 0;
  }
  // reveal button scss

  .edit-icon-a p {
      display: inline-block;
  }
  .edit-icon-a li {
      display: inline-block;
      padding: 0 10px;
  }
  .edit-icon-a li:first-child {
      padding-left: 0;
  }
  .edit-staff  h1 {
      font-size: 24px;    
      font-weight: bold;
      text-transform: capitalize;
  }
  .edit-staff p {
      display: inline-block;
      font-size: 14px;
      font-family: Roboto;
      text-transform: capitalize;
  }
  .edit-staff h2 {
      display: inline-block;
      font-size: 14px;
      font-family: Roboto;
      padding-left: 15px; 
  }
  .edit-staff-P {
      font-size: 16px;
      line-height: 1.5;
      padding: 10px 0 30px 0;
  }
  .edit-icon-a i {
      font-size: 20px;
      color: #000;
  }
  .edit-icon-a i:hover {
    color: $red;
  }
  .edit-staff {
      padding: 10px 0;
  }
  .edit-icon-p p {
      font-size: 12px;
      color: $red;
  }
  .popup {
    padding: 10px 0;
  }
    // popup scss second 
    /* heart of the matter */
  .modal {
    background: rgba(196, 196, 196, 0.5);
    display: none;
    outline: 0;
    overflow: hidden;
    position: fixed; top: 0; right: 0; bottom: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 9000;
    -webkit-overflow-scrolling: touch;
  }
  .modal-dialog {
    background: #fff;
    border: 1px solid #666;
    border-radius: 9px;
    margin: 45px auto 0;
    max-width: 90%;
    position: relative;
    padding: 0 18px;
    max-width: 527px;
  }
  .modal-close {
    background: transparent;
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 30px;
    line-height: 1;
    margin: 0;
    outline: none !important;
    padding: 0 6px;
    position: absolute; 
    top: 0;
    right: 0;
    text-align: center;
    color: #AEBDC4;
  }
  // button scss popup
  button.launcher {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    color: #000;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
