#premiere-event {
    // cell event todau scss
    .premier-main {
        margin: 17px 0;
    }
    .premiere-event h2{
        font-size: 20px;
        font-family: EloquentJFRegularPro ☞;
        color: $red;
    }
    .premiere-event {
        padding: 20px 0;
    }
    .event-today h2 {
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        text-transform: capitalize;
    } 
    .event-today {
        border-bottom: 1px solid #000;
        padding: 15px 0;
    }
    .premier-img-one {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 200px;
    }
    .event-bg-one {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 250px;
        margin: 10px 0 0 0;
    }
    .event-bg-two {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 600px;
        margin: 25px 0 0 0;
    }
    .load-btn button {
        background: #990000;
        color: #fff;
        text-transform: capitalize;
        font-size: 14px;
        padding: 18px 78px;;
        border-radius: 4px;
        cursor: pointer;
    }
    // date formate
    .demo-non-form {
        color: initial;
        width: 100%;
        padding: 10px;
        margin: 6px 0 12px 0;
        border: 1px solid #ccc;
        border-radius: 0;
        font-family: arial, verdana, sans-serif;
        font-size: 14px;
        box-sizing: border-box;
        -webkit-appearance: none;
    }
    
    .external-container button.external-button {
        font-weight: 400;
        padding: 10px;
        margin: 6px 0 13px 0;
        width: 100%;
    }
    .event-today-bdr {
        border: none;
        padding-bottom: inherit; 
    }
    .upcoming-event-bdr {
        border-bottom: 1px solid #000;
    }
}