#footer {  
    // footer scss here
  
    .footer-menu {
        display: inline-block;
        width: 20%;
        vertical-align: top;
        overflow-x: hidden; 
    }
    .footer-menu li {
        padding: 0 10px 20px 0;
    }
    .footer-menu a {
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        text-transform: capitalize;
    }
    footer {
        background: #000000;
        padding: 50px 0;
    }
    .footer-comn {
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }
    .news-letter {
        display: inline-block;
        width: 40%;
    }
    .footer-comn p {
        color: #fff;
    }
    .newsletter-sign-up p {
        color: #fff;
    }
    .center-footer {
        border-bottom: 1px solid #d2cbcb4d;
        padding: 20px 0 40px 0;
    }
    .top-footer {
        border-bottom: 1px solid #d2cbcb4d;
        
    }
    .privacy li {
        display: inline-block;
        padding: 0 10px;
    }
    .privacy a {
        color: #fff;
        font-size: 12px;
    }
    .privacy li:first-child {
        padding-left: 0;
    }
    .copyrights p {
        color: #cccccc;
        font-size: 12px;
    }
    .newsletter-sign-up {
        padding: 0 0 20px 0;
    }
    .mail-section-footer {
        display: inline-block;
        overflow-x: hidden;
    }
    .lable-part {
        padding: 0 0 0 30px;
        display: inline-block;
    }
    .news-letter-ftr {
        float: right;
        border-bottom: 1px solid #fff;
        width: 40%;
    }
    .lable-part-ftr p {
        color: #fff;
    }
    .lable-part-ftr {
        display: inline-block;
        padding: 0 0 0 170px;
    }
    .privacy {
        padding: 0 0 20px 0;
    }
    .bottom-footer {
        padding: 30px 0 0 0;
    }
    .mail-section-footer input[type="text"] {
        background: #b2222200;
        color: #fff;
        border: none;
    }
    .footer-symbol {
        padding: 13px 0;
    }
    .footer-symbol li {
        display: inline-block;
        padding: 0px 16px;
    }
    .footer-symbol i.fab {
        font-size: 18px;
        color: #fff;
    }
}