$black:#000;
$red:#990000;
$silver:#EBEEF1;
.heading {
    font-size: 1.25em;
    font-weight: 400;
    font-family: EloquentJFRegularPro ☞;
    margin-bottom: 20px;
}
.rates h2 {
    font-family: EloquentJFRegularPro ☞;
    font-size: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #000;
    padding: 0 0 15px 0; 
}
.back-ground {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
