#intro-sbi {
    position: fixed;
    top: 410px;
    width: 300px;
    background: #DDDDDD;
    z-index: 111;
    .intro-sbi a {
        font-size: 14px;
        font-weight: 600;
        color: #000;
    }
    .is-accordion-submenu-item a {
        font-size: 12px!important;
        font-weight: 500!important;
        line-height: 1.5;
    }
    .intro-sbi a:hover {
        color: $red;
    }
    .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a::after {
        border-color: #990000 transparent transparent;
    }
}