#john-doe {
    .john-doe-hh h2 {
        font-size: 26px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .john-doe-title p {
        font-size: 14px;
        font-family: Roboto;
        text-transform: capitalize;
    }
    .john-doe-p p {
        font-size: 18px;
        font-family: Roboto;
    }
    .john-doe-a a {
        font-size: 14px;
        color: #990000;
        text-transform: capitalize;
    }
    .grid-x.grid-padding-x.john-doe {
        padding: 50px 0;
    }
    .john-doe-hh {
        padding: 20px 0;
    }
    .john-doe-title {
        padding: 10px 0;
    }
    .john-doe-p {
        padding: 10px 0;
    }
    .john-doe-a {
        padding: 10px 0;
    }
    .john-doe-img {
        padding-left: 0;
    }
    .john-doe-title {
        padding: 10px 0;
    }
    .john-doe-symbol {
        display: inline-block;
        width: 50%;
        text-align: right;
    }
    .john-doe-title-main {
        display: inline-block;
        width: 50%;
    }
    .john-doe-symbol i {
        padding: 0 10px;
        font-size: 18px;
    }
}    
    