#archive-img {
    .archive-img {
        background-repeat: no-repeat;
        height: 220px;
        background-size: cover;
        background-position: center;
    }
    .archive-h2 h2 {
        font-size: 20px;
        font-weight: bold;
    }
    .archive-listing li {
        display: inline-block;
        padding: 0  15px;
        border-right: 1px solid #000;
    }
    .archive-listing li:first-child {
        padding-left: 0;    
    }
    .archive-listing li:last-child {
        border-right: none;    
    }
    .archive-listing h3 {
        font-size: 14px;
        font-family: EloquentJFRegularPro ☞;
        color: #990000;
        line-height: 1.2;
        text-transform: capitalize;
    }
    .archive-listing p {
        text-transform: capitalize;
        font-size: 14px;
        font-family: Roboto;
    }
    .archive-listing {
        padding: 10px 0;
    }
    .latest-media-img {
        &:nth-of-type(8) {
            .archive-h2 {
                display: none;
            }
            .archive-listing {
                display: none;
            }
            .archive-img {
                display: none;
            }
        }
        &:nth-of-type(8) {
            background-image: url(/assets/image/Group.jpg);
            background-repeat: no-repeat;
            height: 250px;
            background-size: cover;
            background-position: center;
            margin-top: 30px;
        }
    
    }
}
