#matrics-charts {
    .matrics-charts h2 {
        font-size: 20px;
        font-weight: 500;
        padding: 10px 0 0 0;
    }
    .matrics-charts span {
        text-transform: capitalize;
    }
    .household {
        padding-top: 100px;
    }
    h2 {
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        text-transform: capitalize;
        display: inline-block;
        margin: 0 0 0 20px;
    }
    .media-kit i.fas.fa-cloud-download-alt {
        display: inline-block;
        font-size: 28px;
        color: $red;
    }
    .media-kit {
        margin: 0 auto;
        padding: 50px 0;
    }  
    .media-download i.fas.fa-download {
        color: #fff;
        padding-right: 10px;
    }
    .media-download {
        padding: 48px 0 0 0;        
    }
    .media-kit input[placeholder="name"],
     [placeholder="email"], 
     [placeholder="orgination"] {
        font-family: 'Montserrat', sans-serif;
        text-transform: capitalize;
        font-size: 14px;
    }
    .media-kit input[type="text"] {
        max-width: 391px;
        width: 100%;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        padding: 16px 15px;
        margin: 8px 50px;
    }
    .media-download button  {
        max-width: 391px;
        text-transform: capitalize;
        padding: 17px 118px;
        border-radius: 4px;
        font-family: 'Montserrat', sans-serif;
    }
    .media-kit-border {
        margin: 50px 0 50px 0;
        border: 1px solid #EBEEF1;
        width: 100%;
    }
    .media-title {
        padding: 0 0 35px 0;
    }
    .media-title button {
        background: none;
    }
    
}