// MY ACCOUNT PAGE SCSS
#edit-profile {
  form {
    padding-bottom: 18px;
  }
  .checkbox-interest {
    padding: 50px 0 40px 0;
    border-top: 1px solid #EBEEF1;
  }
  .check-center {
    margin: 0 auto;
  }
  .interest {
    display: inline-block;
    width: 50%;
    padding: 15px 0 16px 20px;
  }
  .unsubscribe {
    display: inline-block;
    width: 50%;
    text-align: right;
    padding: 0 20px 0 0;
  }
  .unsubscribe h2 {
    color: $red;
    font-size: 14px;
  }
  .interest p {
    font-size: 14px;
  }
  .interest span {
    font-weight: 600;
  }
  .explore  {
    text-align: center;
    width: 100%;
    border-top: 1px solid #EBEEF1;
    padding: 14px 0;
    display: block;
  }
  .explore h2 {
    font-size: 14px;
    color: #900;    
    font-weight: 600;
  }
  .explore span {
    text-transform: capitalize;
  }
  .premier-time, i.far.fa-clock, p {
    display: inline-block;
  }
  .premier-time p {
    padding-left: 10px;
    line-height: 2.2;
    font-size: 14px;
  }
  .premier-p p {
    padding-left: 10px;
    line-height: 2.2;
  } 
  .premier-head {
    padding: 10px 0;
  }
  .premier-head h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .premier-img {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cover-btn {
    position: absolute;
    right: 30px;
    top: 15px;
  }
  .cover-btn  i.far.fa-edit {
    padding-left: 10px;
    font-size: 18px;
  }
  .cover-btn button {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    background: #f0f8ff00;
  }
  .cover-btn button:hover {
    background: #00000026;
    color: #ffffff7d
  }
  .remove-btn button {
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    background: #990000;
    padding: 8px 9px;
    font-size: 14px;
    border-radius: 4px;
  }  
  .premier {
    position: relative;
    padding: 0 0 20px 0;
  }
  .remove-btn {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .remove-btn .fas {
    padding: 0 5px 0 0;
  }
  .newsletter-name form {
    padding-bottom: 18px;
    font-weight: bold;
  }
  .newsletter-name p {
    line-height: 1.5;
  }
  .cell.newsletter-name {
    padding-bottom: 25px;
}

  // news letter check box scss
  .v-checkbox {
    border: 0 none transparent;
    margin: 0;
    padding: 0;
  }
  .v-checkbox > .field {
    display: none;
  }
  .v-checkbox > .label {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-size: 0.9375em;
    font-family: 'Lato', sans-serif;
    color: #4c5264;
    background: #1779ba00;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 18px;
    padding: 15px 0;
  }
  .v-checkbox > .label::before {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: 2px solid $red;
    border-radius: 4px;
    transition: transform 0.75s ease-out;
  }
  .v-checkbox > .field:checked + .label::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4LjA1MyIgaGVpZ2h0PSI1Ljc2IiB2aWV3Qm94PSIwIDAgOC4wNTMgNS43NiI+PHBhdGggZD0iTTMuNDY3LDUuNzYsMCwyLjI5M2wxLjEyLTEuMTJMMy40NjcsMy40NjcsNi45MzMsMGwxLjEyLDEuMTJaIiBmaWxsPSIjNGM1MjY0Ii8+PC9zdmc+');
    background-size: 12px 10px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .v-checkbox > .field:active + .label::before {
    transform: scale(1.1);
    transition: transform 0.05s ease-in;
  }
  .check-interest {
    padding-left: 40px;
    font-weight: 600;
  }
  
  // forth tab scss
  .purchase h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5;
  }
  .obituary p {
    font-size: 14px;
    line-height: 1.5;
  }
  .obituary h3 {
    font-size: 14px;
    font-family: Roboto;
  }
  .subscription a {
    text-transform: capitalize;
    color: $red;
    font-size: 12px;  
  }
  .subscription {
    padding: 0 0 0 22px;
    text-align: center;
 }
  .obituary h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;    
    padding-bottom: 10px;
  }
  .purchase p {
    font-size: 14px;
    font-family: Roboto;
  }
  .purchase-main {
    padding: 35px 0;
    border-top: 1px solid #EBEEF1;
  }
 
  // tab five scss
  .Posts-bg {
    height: 127px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
  }
  .remove-john h2{
    font-size: 14px;
    text-transform: capitalize;
    font-family: Roboto;
  }
  .remove-john h3{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
  }
  .remove-john h4{
    font-size: 14px;
  }
  .remove-comn {
    padding-bottom: 10px;
  }
  .remove-red  i{
    color: $red;
  }
  .remove-red  h2 {
    color: $red;
    font-size: 12px;
    text-transform: capitalize;
  }
  .remove-red {
    padding-top: 30px;
  }
  .remove-bdr {
    border-top: 1px solid #EBEEF1;
  } 
  .edit-profile-cover {
    position: relative;
  }
  // TABS SCSS 
  a#panel1-label span {
    color: #fff;
    background: $red;
    border-radius: 50%;
    padding: 5px;
 }
  a#panel2-label span {
    color: #fff;
    background: $red;
    border-radius: 50%;
    padding: 5px;
  }
  a#panel3-label span {
    color: #fff;
    background: $red;
    border-radius: 50%;
    padding: 5px;
  }
  a#panel4-label span {
    color: #fff;
    background: $red;
    border-radius: 50%;
    padding: 5px;
  }
  a#panel5-label span {
    color: #fff;
    background: $red;
    border-radius: 50%;
    padding: 5px;
  }
  .tabs-title>a {
    font-size: 14px;
  }
  .tabs-title>a:focus, .tabs-title>a[aria-selected='true'] {
    background: #FFFFFF;
    color: #000;
  }
  ul#example-tabs {
    width: 800px;
    position: absolute;
    top: 415px;
    right: 0;
  }
  .tabs-panel.is-active {
    box-shadow: 0px 3px 13px 12px #fefcfcdb;
  }
  ul#example-tabs {
    background: transparent;
    color: #fff;
    border: none;
  }
  .tabs-title>a {
    font-size: 14px;
    color: #fff;
    border-radius: 4px 4px 0 0;
  }
  .tabs-title>a:hover {
    background: #fefefe85;  
 }
  .tabs-panel {
    padding: 0;
  }
  .obituary a {
    display: none;
  }
  .remove-hide {
    display: none;
  }
  // hover scss on my even section
  .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 4px;
  }
  .image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; 
  }
  .overlay-fade-in img {
    transition: all 0.2s linear; }
  .overlay-fade-in .image-overlay-content {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out; 
  }
  .overlay-fade-in h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 40%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.7); 
  }
  .overlay-fade-in .button {
    display: inline-block;
    text-decoration: none;
    padding: 9px 12px;
    background: $red;
    color: #fff;
    text-transform: capitalize;
    -webkit-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
    position: relative;
    border-radius: 4px;
    opacity: 0;
    border: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
 }
  .overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000; 
  }
  .overlay-fade-in:hover img {
    transform: scale(1.2); 
  }
  .overlay-fade-in:hover .image-overlay-content {
    opacity: 1;
   }
  .overlay-fade-in .button {
    opacity: 1;
   }
   .overlay-fade-in:hover .button {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    position: absolute;
    right: 15px;
    top: 15px;
 }

//  my interest page checkbox scss
  .container {
    display: block;
    position: relative;
    margin-bottom: 27px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: $red;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 3px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
 }
  .ckeck-menu {
    padding: 10px 0;
  }
  .tabs-title>a {
    padding: 1.25rem 0.9rem;
 }
}