// MY ACCOUNT PAGE SCSS
#edit-profile {
  form {
    padding-bottom: 18px;
  }
  .checkbox-interest {
    padding: 50px 0 40px 0;
    border-top: 1px solid #EBEEF1;
  }
  .check-center {
    margin: 0 auto;
  }
  .interest {
    display: inline-block;
    width: 50%;
    padding: 15px 0 16px 20px;
  }
  .unsubscribe {
    display: inline-block;
    width: 50%;
    text-align: right;
    padding: 0 20px 0 0;
  }
  .unsubscribe h2 {
    color: $red;
    font-size: 14px;
  }
  .interest p {
    font-size: 14px;
  }
  .interest span {
    font-weight: 500;
  }
  .explore  {
    text-align: center;
    width: 100%;
    border-top: 1px solid #EBEEF1;
    padding: 14px 0;
    display: block;
  }
  .explore h2 {
    font-size: 14px;
    color: #900;    
    font-weight: 500;
  }
  .explore span {
    text-transform: capitalize;
  }
  .premier-time, i.far.fa-clock, p {
    display: inline-block;
  }
  .premier-time p {
    padding-left: 10px;
    line-height: 2.2;
    font-size: 14px;
  }
  .premier-p p {
    padding-left: 10px;
    line-height: 2.2;
  } 
  .premier-head {
    padding: 10px 0;
  }
  .premier-head h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .premier-img {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cover-btn {
    position: absolute;
    right: 30px;
    top: 15px;
  }
  .cover-btn  i.far.fa-edit {
    padding-left: 10px;
    font-size: 18px;
  }
  .cover-btn button {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    background: #f0f8ff00;
  }
  .cover-btn button:hover {
    background: #00000026;
    color: #ffffff7d
  }
  .remove-btn button {
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    background: #990000;
    padding: 8px 9px;
    font-size: 14px;
    border-radius: 4px;
  }  
  .premier {
    position: relative;
    padding: 0 0 20px 0;
  }
  .remove-btn {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .remove-btn .fas {
    padding: 0 5px 0 0;
  }
  .newsletter-name form {
    padding-bottom: 18px;
    font-weight: bold;
  }
  .newsletter-name p {
    line-height: 1.5;
  }
  .cell.newsletter-name {
    padding-bottom: 25px;
}

  // news letter check box scss
  .v-checkbox {
    border: 0 none transparent;
    margin: 0;
    padding: 0;
  }
  .v-checkbox > .field {
    display: none;
  }
  .v-checkbox > .label {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-size: 0.9375em;
    font-family: 'Lato', sans-serif;
    color: #4c5264;
    background: #1779ba00;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 18px;
    padding: 15px 0;
  }
  .v-checkbox > .label::before {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: 2px solid $red;
    border-radius: 4px;
    transition: transform 0.75s ease-out;
  }
  .v-checkbox > .field:checked + .label::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4LjA1MyIgaGVpZ2h0PSI1Ljc2IiB2aWV3Qm94PSIwIDAgOC4wNTMgNS43NiI+PHBhdGggZD0iTTMuNDY3LDUuNzYsMCwyLjI5M2wxLjEyLTEuMTJMMy40NjcsMy40NjcsNi45MzMsMGwxLjEyLDEuMTJaIiBmaWxsPSIjNGM1MjY0Ii8+PC9zdmc+');
    background-size: 12px 10px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .v-checkbox > .field:active + .label::before {
    transform: scale(1.1);
    transition: transform 0.05s ease-in;
  }
  
  // forth tab scss
  .purchase h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5;
  }
  .obituary p {
    font-size: 14px;
    line-height: 1.5;
  }
  .obituary h3 {
    font-size: 14px;
    font-family: Roboto;
  }
  .subscription a {
    text-transform: capitalize;
    color: $red;
    font-size: 12px;  
  }
  .subscription {
    padding: 0 0 0 20px;
  }
  .obituary h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;    
    padding-bottom: 10px;
  }
  .purchase p {
    font-size: 14px;
    font-family: Roboto;
  }
  .purchase-main {
    padding: 35px 0;
    border-top: 1px solid #EBEEF1;
  }
 
  // tab five scss
  .Posts-bg {
    height: 127px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
  }
  .remove-john h2{
    font-size: 14px;
    text-transform: capitalize;
    font-family: Roboto;
  }
  .remove-john h3{
    font-size: 20px;
    font-weight: bold;
  }
  .remove-john h4{
    font-size: 14px;
  }
  .remove-comn {
    padding-bottom: 10px;
  }
  .remove-red  i{
    color: $red;
  }
  .remove-red  h2 {
    color: $red;
    font-size: 12px;
    text-transform: capitalize;
  }
  .remove-red {
    padding-top: 30px;
  }
  .remove-bdr {
    border-top: 1px solid #EBEEF1;
  } 
  .edit-profile-cover {
    position: relative;
  }
  // TABS SCSS 
  .tabs-title>a {
    font-size: 14px;
  }
  .tabs-title>a:focus, .tabs-title>a[aria-selected='true'] {
    background: #FFFFFF;
    color: #000;
  }
  ul#example-tabs {
    width: 800px;
    position: absolute;
    top: 414px;
    right: 0;
  }
  .tabs-panel.is-active {
    box-shadow: 0px 3px 13px 12px #fefcfcdb;
  }
  ul#example-tabs {
    background: transparent;
    color: #fff;
    border: none;
  }
  .tabs-title>a {
    font-size: 14px;
    color: #fff;
    border-radius: 4px 4px 0 0;
  }
  .tabs-title>a:hover {
    background: #fefefe85;  
}
  .tabs-panel {
    padding: 0;
  }
  .obituary a {
    display: none;
  }
  .remove-hide {
    display: none;
  }
}
