#multimedia-Stories-slider {
    .premier-time, i.far.fa-clock, p {
        display: inline-block;
    }
    .premier-time p {
        padding-left: 10px;
        line-height: 2.2;
        font-size: 14px;
        color: #fff
    }
    .premier-p p {
        padding-left: 10px;
        line-height: 2.2;
        color: #fff
    } 
    .premier-time i.far.fa-clock {
        color: #fff;
    }
    .premier-p i.fas {
        color: #fff;
    }
    .slider-img {
        padding-bottom: 10px;
    }
    
}

