#premiere-event {
    // cell-one scss
    .premier {
        background: #F8F8F8;
        margin: 20px;
    }
    .premier-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 218px;
    }
    .premier-hh h2 {
        padding: 0 0 10px 0;
        font-family: EloquentJFRegularPro ☞;
        text-transform: capitalize;

        font-size: 20px;
    }
    .premier-time p {
        text-transform: uppercase;
        display: inline-block;
        padding: 0 0 0 15px;
    }
    .premier-time i.far.fa-clock {
        font-size: 13px;
    }
    .premier-head h2 {
        font-weight: bold;
        font-size: 20px;
    }
    .premier-time {
        padding: 10px 0;
    }
    .premier-head {
        padding: 10px 0 30px 0;
    }
    .premier-padd { 
        margin: 30px 0 0 0;
    }
    .premiere-bg-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100px;  
    }
    .premiere-sm-img {
        width: 50%;
        display: inline-block;
    
    }
    .premiere-sm-p {
        display: inline-block;
        width: 50%;
        padding: 20px;
    }
    .premiere-btn button {
        text-transform: capitalize;
        background-color: #990000;
        color: #fff;
        padding: 18px 18px;
        border-radius: 4px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        margin: 12px 0 0 0;
    }
    .sign-in-section input[type="text"] {
        background: #DDDDDD;
        text-transform: capitalize;
        font-family: Montserrat;
        font-size: 12px;
        width: 100%;
        border: none;
        padding: 18px 10px;
        cursor: pointer;
        border-radius: 4px;
    }
    .sign-in-section button.signupbtn {
        width: 100%;
        background: #990000;
        color: #fff;
        font-size: 14px;
        padding: 18px 0;
        margin: 15px 0 0 0;
        border-radius: 4px;
        cursor: pointer;
    }
    .premiere-btn {
        width: 50%;
        display: inline-block;
    }
    .premiere-a {
        width: 50%;
        display: inline-block;
        text-align: right;
    }
    .premiere-a a {
        font-size: 14px;
        color: #990000;
        border-bottom: 1px solid #990000;
        text-transform: capitalize;
    }
    .premier-two-bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
    }
    .premier.premier-two {
        background: #fff;
    }

    // cell-two scss
    .event-center {
        padding: 20px;
    }
    .center-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 286px;
    }
    .center.heading h2 {
        font-size: 23px;
        font-weight: bold;
    }
    .center.heading {
        padding: 10px 0 0 0;
    }
    .btm-border {
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #EBEEF1;
    }
    .text-padd {
        padding: 30px 0 0 0;
    }
    .side-category {
        padding: 20px 0;
    }
    .eloq a {
        font-family: EloquentJFRegularPro ☞;
    }
    .side-category  li:first-child {
        padding-left:0;
    }
    .center-bdr {
        border: none !important;
    }
    .last-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 286px;
    }
    .side-bdr {
        border-bottom: 1px solid #EBEEF1;
    }
    .last-column-img {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 250px;
        margin: 25px 0 0 0;
    }
    .cell.large-4.event-last {
        padding: 0 0 0 20px;
    }
    .cell.large-4.event-first {
        padding: 0 20px 0 0;
    }
    .ad-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90px;
    }
    .cell.large-8.add-image-cls {
        padding: 20px;
        border-top: 1px solid #EBEEF1;
    }
    .premier-p p {
        display: inline-block;
        padding: 0 0 0 15px;
    }
    .side-category ul {
        display: inline-block;
    }
    .cover-story {
        display: inline-block;
        padding: 0 0 0 15px;
    }
    .cover-story button {
        font-size: 12px;
        text-transform: capitalize;
        background-color: #000000;
        color: #fff;
        padding: 9px 16px;
        border-radius: 4px;
        cursor: pointer;
    }
    .side-category li {
        display: inline-block;
        padding: 0 9px;
    }
    .side-category a {
        color: #990000;
    }
    .side-category a {
        color: #990000;
        font-size: 16px;
    }
}
