#related {
    // related and top one content scss
    .related-h h2{
        font-size: 26px;
        font-weight: bold;
    }
    .related-p p {
        font-size: 18px;
        font-family: roboto;
        line-height: 28px;
    }
    .related-h {
        padding: 20px 0 10px 0;
    }
    .related-p {
        padding: 10px 0;
    }
    .related-post p {
        color: #fff;
        font-size: 20px;
        text-transform: capitalize;
    }
    .related-post {
        background: #00000A;
        padding: 10px 30px;
    }
    // related img scss
    .grid-x.grid-padding-x.sponsored-grd {
        padding: 20px 0;
    }
    .cell.medium-4.sponsored-cell {
        padding-left: 0;
    }
    .cell.medium-4.sponsored-cell img {
        height: 177px;
    }
    .cell.medium-4.sponsored-cell p {
        font-size: 20px;
        font-weight: bold;
    }
    .sponsoreed-img-p {
        padding: 10px 0;
    }
    // bottom part of related img
    .related-header-content-h h2 {
        font-size: 20px;
        font-weight: bold;
    }
    .related-header-content-h {
        padding: 20px 0;
    }
    .related-header-content-p p {
        font-size: 18px;
        font-family: roboto;
        line-height: 28px;
    }
    .cell.medium-8.sponsored-grid-two-cls {
        padding-left: 0;
    }
    .sponsored-grid-two-cls span {
        color: $red;
        font-size: 20px;
      }
    .cell.medium-8.sponsored-grid-two-cls p {
        font-size: 18px;
        font-family: Roboto;
        font-weight: bold;
        line-height: 28px;
    }
    .sponsored-grid-three-cls p {
        font-size: 18px;
        font-family: Roboto;
        line-height: 28px;
    }
    .cell.medium-4.sponsored-grid-three-cls {
        padding-left: 0;
    }
    .sponsored-grid-two {
        padding: 10px 0 20px 0;
    }
    .sponsored-grid-three {
        padding: 20px 0;
    }
    .sponsored-grid-four-cls p {
        font-size: 18px;
        font-family: Roboto;
        line-height: 28px;
    }
    .cell.medium-8.sponsored-grid-four-cls {
        padding-left: 0;
    }
    .grid-x.grid-padding-x.sponsored-grid-four {
        padding: 20px 0;
    }
    // .sponsored-listing scss
    .sponsored-listing-cls-one li {
        list-style-type: disc;
        color: #990000;
    }
    .sponsored-listing-cls-two li {
        list-style-type: decimal;
        color: #990000;
        font-family: sans-serif;
    }
    .cell.medium-6.large-6.sponsored-listing-cls p {
        font-size: 14px;
        font-family: Roboto;
        color: #000000;
        line-height: 30px;
    }
    .grid-x.grid.sponsored-listing {
        padding: 0 0 0 40px;
    }
    .listing-header h2 {
        font-size: 18px;
    }
    .listing-header {
        padding: 20px 0;
    }
}
