// search result page scss
#search-result {
    .search-head-h h2 {
        font-size: 20px;
        font-family: EloquentJFRegularPro ☞;
        text-transform: uppercase;
    }
    .search-head-h {
        text-align: center;
        display: block;
        width: 100%;
    }
    .search-heading-h h2 {
        font-size: 20px;
        font-family: Roboto;
    }
    .search-heading-h {
        display: block;
        width: 100%;
    }
    .showing-result h3 {
        font-size: 12px;
        font-family: roboto;
        padding: 10px 0 0 0;
    }
    .search-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 160px;
    }
    .search-img-second {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 90px;
    }
    .search-category li {
        display: inline-block;
        padding-right: 20px;
    }
    .search-category h3 {
        font-size: 14px;
        font-family: EloquentJFRegularPro ☞;
        text-transform: capitalize;
        color: #990000;
    }
    .search-category h4 {
        font-size: 14px;
        font-family: Roboto;
        text-transform: uppercase;
    }   
    .search-heading-h2 h2 { 
        font-size: 26px;
        font-weight: bold;
    }
    .search-heading-h3 h3 {
        font-size: 16px;
    }
    .search-bdr {
        border-bottom: 1px solid #EBEEF3;
    }
    .search-heading-h2 {
        padding: 10px 0;    
    }
    .grid-x.grid-margin-x.search-repeat {
        padding: 21px 0;
    }    
    .search-main-cls {
        padding: 40px 0 0 0;
    }
    .filter {
        display: none;
    }
    .showing-result span {
        font-weight: bold;
    }
    .search-head-h {
        padding: 20px 0;
    }
    .search-heading-h {
        padding: 0 0 40px 0;
    }
    .cell.showing-result.large-6.medium-6 {
        padding: 10px 0;
    }
    .archive-load-more button {
        padding: 17px 73px;
    }
    .archive-load-more {
        text-align: center;
        padding: 15px 0 50px;
    }
}
    