#sign-up {
    .sign-up-why h2 {
        font-size: 18px;
        font-weight: 500;
    }
    
    .symbol-detail-h h2 {
        font-size: 14px;
        font-weight: 600;
    }
    .symbol-detail-h {
        padding: 25px 0 0 20px;
    }   
    // circle round hover effect scss start 
    .circle-round {
        padding: 60px 0 0 0;
    }
    .circle-round i {
        padding: 15px;
    }
    
    .circle-round i {
        padding: 7px 0 0 0;
        font-size: 25px;
        color: #fff;
    }
    .round-bar {
        width: 50px;
        height: 50px;
        text-align: center;
        background: #990000;
        border-radius: 50%;
    }
    
    .circle-round a {	
        margin: -60px 3px 5px 3px;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
        transition: all .5s linear; 
    }
    
    .circle-round a:hover {
        color: #16a085;  
        background-color: #211E1E;
        border: 1px solid white;
        transform: rotate(360deg);
        margin: -60px 3px 5px 3px;
    }
     
    .circle-round a i {
        -webkit-transition: transform .5s linear .5s;
        -moz-transition: transform .5s linear .5s;
        -ms-transition: transform .5s linear .5s;
        -o-transition: transform .5s linear .5s;
        transition: transform .5s linear .5s;
    }
    
    .circle-round a:hover i {
        transform: rotate(-360deg);
    }
    // hover effect scss finish
    .signup-section input {
        width: 100%;
        border: 1px solid #EBEEF1;
        padding: 16px 9px;
        border-radius: 4px;
        margin: 10px 0;
        text-transform: capitalize;
        font-size: 14px;
    }
    .signup-section button {
        background: #900;
        color: #fff;
        text-transform: capitalize;
        cursor: pointer;
        font-size: 14px;
        width: 100%;
        padding: 18px 0;
        border-radius: 4px;
        font-weight: 500;
        margin: 20px 0 0 0;
    }
    .signup-section h2 {
        font-size: 14px;
    }
    .sign-up {
        padding: 50px 40px;
        border: 1px solid #EBEEF1;
    }
    .signup-section form {
        padding: 20px 0 0 0;
    }
    .sign-up-why {
        padding: 0 0 20px 0;
    }
    .contact-us-h {
        border-bottom: 1px solid red;
    }
}

    