#submit-event {
    .intro-title-h h2 {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
    }
    .intro-title-h p {
        font-size: 16px;
        line-height: 1.5;
        text-transform: capitalize;
    }
}
