#subscriptions-newsletters {
    .newsletter-title-img {
        background-repeat: no-repeat;
        height: 536px;
        background-position: top;
        background-size: cover;
        position: relative;
    }
    .newsletter-title-h2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        left: 50%;
    }
    .newsletter-title-h2 h2 { 
        z-index: 1;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
    .newsletter-title-h h2{
        font-size: 20px;
        font-weight: bold;
    }
    .newsletter-title-p p {
        font-size: 16px;
    }
    .newsletter-title-h {
        padding: 50px 0;
    }
    .newsletter-title-p {
        padding: 0 0 40px 0;
    }
    .sign-up-newslatter h2 {
        font-size: 20px;
        font-family: EloquentJFRegularPro ☞;
        text-transform: capitalize;
        display: inline-block;
        line-height: 1.8;
        font-weight: bold;
    }
    .sign-up-newslatter i.fas.fa-envelope {
        font-size: 28px;
        color: #990000;
        vertical-align: bottom;
        padding: 0 30px 0 0;
    }
    .daily-news-bg {
        background-repeat: no-repeat;
        height: 380px;
        background-position: top;
        background-size: cover;
    }
    .daily-news-feature p {
        display: inline-block;
    }
    .daily-news-feature p {
        display: inline-block;
        font-size: 17px;
        font-family: 'Montserrat', Regular;
        padding: 0 0 0 10px;
    }   
    .daily-news-h2 h2 {
        text-transform: capitalize;
        color: #990000;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.8;
    }
    .daily-news-h2 p {
        font-family: 'Montserrat', Regular;
        font-size: 12px;
    }
    .daily-news-h2 {
        padding: 20px 0;
    }
    .daily-news-feature form {
        padding: 13px 0;
    }
    .daily-news-letter {
        padding: 20px 0 0 48px;
        border-top: 1px solid #dddddd;
    }
    .signup-subscription input[type="text"] {
        padding: 2% 11% 2% 1%;
        border: 1px solid #DDDDDD;
        font-size: 14px;
        text-transform: capitalize;
        color: #000;
        margin: 0 7px;
    }
    .signup-subscription input[type="email"] {
        padding: 2% 11% 2% 1%;
        border: 1px solid #DDDDDD;
        font-size: 14px;
        text-transform: capitalize;
        color: #000;
        margin: 0 4px;
    }
    .signup-subscription button {
        font-weight: bold;
        font-size: 14px;
        padding: 18px 28px;
        border-radius: 4px;
        cursor: pointer;
    }
    .cell.signup-subscription {
        padding: 25px 0;
    }
    .grid-x.news-letter-sub-bdr {
        border: 1px solid #EBEEF1;
    }
    .subscription-main {
        border: 1px solid #dddddd;
    }
    .sign-up-newslatter {
        padding: 10px 0;
    }
    .newsletter-order-first {
        display: none;
    }
    .daily-sub-bdr {
        width: 100%;
    }
    // check box subscription page
    .container {
        display: block;
        position: relative;
        margin-bottom: 27px;
        cursor: pointer;
        font-size: 18px;
        user-select: none;
        padding-left: 40px;
      }
    
      /* Hide the browser's default checkbox */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
    
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 4px;
      }
    
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
    
      /* When the checkbox is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: $red;
      }
    
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
    
      /* Show the checkmark when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }
    
      /* Style the checkmark/indicator */
      .container .checkmark:after {
        left: 9px;
        top: 3px;
        width: 7px;
        height: 14px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
     }
      .ckeck-menu {
        padding: 10px 0;
      }
      .tabs-title>a {
        padding: 1.25rem 0.9rem;
     }
}