#tv-listing {
    .tv-listing {
        height: 900px;
        background: #dddddd;
    }
    .tv-listing h2 {
        font-size: 25px;
        font-family: Roboto;
    }
    .tv-img {
        padding: 60px 0 90px;
    }
}

