.upcoming-event {
    padding-bottom: 70px;
}
.premier-time-padd {
    padding-top: 15px; 
}
.search-event i.fa.fa-search {
    position: absolute;
}      
.event-btn button {
    font-size: 14px;
    padding: 18px 26px;
    cursor: pointer;
    text-transform: capitalize;
}     
.premier-img-again {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 250px;
}
.search-event i.fa.fa-search {
    position: absolute;
    top: 14px;
    right: 18px;
}
.search-event input[type="text"] {
    width: 100%;
    padding: 14px 5px;
    border: none;
    border: 1px solid $silver;
    border-radius: 4px; 
} 
.upcoming-event-bdr {
    border-bottom: 1px solid #000;
    padding: 0 0 15px 0;
}
.create-event h3 {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
}
.create-event h4 {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
    display: none;
}
.event-dtae-pick {
    margin: 25px 0 0 0;
    position: relative;
}
.create-event {
    margin: 30px 0 0 0;
}
.event-head-x {
    padding-top: 30px !important;
}
.create-event i.fas.fa-plus-circle {
    color: #990000;
    padding: 0 0 0 5px;
}
.load-btn {
    padding: 20px 0 0 0;
}
input#datepicker {
    width: 100%;
    border: none;   
}
.ui-datepicker-title {
    color: #990000;
    font-family: roboto;
}
span.ui-icon.ui-icon-circle-triangle-e {
    position: absolute;
    right: 81px;
    top: -17px;
    opacity: 0;
}
span.ui-icon.ui-icon-circle-triangle-w {
    position: absolute;
    left: -43px;
    top: -18px;
    opacity: 0;
}
.comn-select select {
    background: #900;
    border: none;
    border-radius: 4px;
    padding: 16px 10px;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}
form.example {
    position: relative;
}
.event-btn i.fas {
    padding: 0 0 0 30px;
}
.event-dtae-pick i.fas.fa-chevron-left {
    position: absolute;
    left: -30px;
    top: 2px;
}
.event-dtae-pick i.fas.fa-chevron-right {
    position: absolute;
    right: 103px;
    top: 2px;
}
