#multimedia-wrapper {
    .carousel{
        width:100%;
        margin:0px auto;
    }
    .slick-slide img{
        width:100%;
        border: 2px solid #fff;
    }
    .multimedia-wrapper {
        width: 100%;
        text-align: center;
        padding: 60px 40px;
        background: #000;
    }
    .multimedia-wrapper h2 {
        color: #990000;
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        font-weight: bold;
    }
    .video-control video {
        width: 100%;
        height: 700px;
    }
    // slider scroll button scss 
    .slick-custom-arrow.slick-custom-arrow-right.slick-arrow {
        width: 40px;
        height: 40px;
        background: #a51515;
        border-radius: 50%;
        position: absolute;
        top: 45%;
    }
    i.fas.fa-angle-right {
        position: absolute;
        top: 13px;
        left: 16px;
    }
    // .slick-custom-arrow.slick-custom-arrow-left.slick-arrow {
    //     width: 40px;
    //     height: 40px;
    //     background: #a51515;
    //     border-radius: 50%;
    //     position: absolute;
    //     top: 50%;
       
    // }
    // i.fa.fa-angle-left{
    //     position: absolute;
    //     top: 13px;
    //     left: 16px;
    // }
        
}

