#video-photo-archive {
  .archive-img {
    background-repeat: no-repeat;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin: 30px 0;
  }
  .obituary {
      padding: 10px 0;
  }
  .archive-search input[type="text"] {
      padding: 15px 10px;
      border: 1px solid #EBEEF1;
      border-radius: 4px;
      font-family: Montserrat;
      width: 85%;
  }
  .archive-search {
      position: relative;
  }
  .archive-search button {
    position: absolute;
    top: 17px;
    right: 100px;
    cursor: pointer;
    background: #fff;
    color: #000;
  }
  .archive-search i.fa.fa-search {
      font-size: 19px;
  }   
  .archive-notice select {
    background: #900000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 14px 116px 14px 16px;
  }

//  LOAD MORE BUTTON SCSS
  .archive-load-more {
      text-align: center;
  }
  .archive-load-more button {
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 500;
      padding: 18px 77px;
      cursor: pointer;
  }
  .archive-load-more {
      text-align: center;
      padding: 40px 0 60px 0;
  }
  .section-part h2 {
    font-size: 20px;
    font-family: EloquentJFRegularPro ☞;
    color: #990000;
    text-transform: uppercase;
    padding: 20px 0 10px 0;
  }
}
