#about {
    .cell.large-2.about {
        padding: 0 5px 0 10px;
        background: #DDDDDD;
    }
    .grid-container {
        padding-bottom: 27px;
        overflow-y: hidden;
    }
}
#breaking-news {
    .about-us h2{
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        text-transform: uppercase;
    }
    .about-us {
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }
}
    
