#advertise-online {
    .advertise-h h2 {
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }
    .advertise-h {
        padding: 23px 0 0 0;
    }
    .advertise-p p {
        font-family: Roboto;
        font-size: 18px;
        padding: 20px 0 0 0;
        line-height: 1.5;
    }
    .work-why h2 {
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        text-transform: capitalize;
        border-bottom: 1px solid #000;
        padding: 51px 0 15px 0; 
    }
    .options h2 {
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .options p {
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
        color: $red;
        line-height: 3;
    }
    .new-red p {
        background: $red;
        color: #fff;
        text-transform: capitalize;
        font-size: 12px;
        display: inline-block;
        padding: 2px 6px;
        margin: 0 0 6px 19px;
        border-radius: 4px;
    }
    .options {
        margin: 24px 0 0 0;
    }
    .new-add-opacity {
        opacity: 0;
    }
    .advertising.common {
        padding: 47px 0 20px 0;
    }
    .new-img {
        padding-right: 1.9375rem;
        padding-left: 1.9375rem
    }
    .options {
        padding-right: 1.9375rem;
        padding-left: 1.9375rem
    }
}