// edit profile scss
#edit-profile {
    background: #EBEEF1;
    padding: 0 0 90px 0;
    .footer {
        background: #EBEEF1;
    }
    .edit-profile-cover {
        padding: 0;
    }
    .edit-profile h2 {
        font-family: EloquentJFRegularPro ☞;
        font-size: 20px;
        text-transform: uppercase;
        padding: 20px 0;
    }
    .cover-image {
        background-position: center right;
        background-size: cover;
        background-repeat: no-repeat;
        height: 394px;
        background-color: #000;
        position: relative;
    }
    .change-img h2 {
        font-size: 26px;
        font-weight: bold;
        color: #fff;
        text-transform: capitalize;
        padding: 10px 0;
    }
    .change-img p {
        font-size: 14px;
        color: #fff;
    }
    .change-img img {
        border-radius: 50%;
    }
    .change-img {
        padding: 0 0 0 90px;
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
    }
    .change-cover-one {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: absolute;
    }
    .change-cover-two {
        top: 36%;
        left: 9%;
        position: absolute;
    }
    .change-cover-one, .change-cover-two, .button {
        margin: 0;
    }
    .change-cover-one, .change-cover-two, .button {
        margin: 0;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        text-transform: capitalize;
        border-radius: 20px;
        background: #00000047;
    }
    // button hover

    .button::before,
    .button::after {
      background: #3835377d;
      content: '';
      position: absolute;
      border-radius: 20px; 
    }
    
    .button:hover {
      color: #04451291
    }
    
    .button {
      overflow: hidden;
    }
    
    .button::after {
      height: 100%;
      left: 0;
      top: 0;
      transition-duration: 0.6s;
      transform-origin: bottom right;
      width: 0;
    }
    
    .button:hover:after {
      height: 100%;
      width: 100%;
    }

    // form validtion scss input
    input[type=text], select {
        width: 100%;
        padding: 15px 20px;
        margin: 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }
    input[type=email], select {
        width: 100%;
        padding: 15px 20px;
        margin: 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }
    input[type=password], select {
        width: 100%;
        padding: 15px 20px;
        margin: 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }
      

    input[type=submit] {
        width: 100%;
        background-color: $red;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }
      
    input[type=submit]:hover {
        background-color: #990000d9;
    }
    .personal-info p {
        font-size: 16px;
        padding-bottom: 20px;
    }
    .personal-info h2 {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .personal-info {
        padding: 50px 0;
    }
    .personal-detail {
        padding-top: 20px;
        padding-bottom: 20px;
        background: #fff;
        box-shadow: 0 0 10px #a29999db;
    }
    .personal-info label {
        font-size: 14px;
    }
}