#more-like-this {
  // more like this scss
    .more-like-left-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
    }
    .more-like-this p {
        font-family: Roboto;
        font-size: 18px;
        text-transform: capitalize;
    }
    .more-like-this {
        padding: 20px 25px;
    }
    .more-like-left-content h2 {
        font-size: 26px;
        font-weight: bold;
    }
    .cell.large-7.more-like-right-h2 h2 {
        font-size: 17px;
        line-height: 23px;
    }
    .grid-x.grid-padding-x {
        padding: 0 0 20px 0;
    }
    .more-like-left-content {
        padding: 20px 0;
    }
    .newsletter-order-first {
        display: block;
    }
}