.news-full-img {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 730px;
}
.write-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    position: relative;
}
// write part scss
.news-single-h h2 {
    color: #fff;
    font-weight: 500;
}
.news-single-h {
    position: absolute;
    bottom: 30px;
    left: 45px;
    right: 45px;
}
.news-full-img-second {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 730px;
}
.write-img {
    margin: 20px 0;
}
.slick-slide img {
    width: 100%;
}

// slider scss
/* SLICK: ARROWS */