doctype html
html.no-js(lang='en')
    head
        include head
  
    body.about-page
        include header
        #breaking-news
            .grid-container.top-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/ascd.jpg", alt="")
                    .about-us
                        h2 about us

        #about
            .grid-container 
                .grid-x.grid-padding-x
                    .cell.large-3.about
                        include intro-sbi
                    main.cell.large-9
                        include about-us-what
                        include delivery-info
                    
        include scripts
        include footer