.grid-container
    .grid-x
        .cell.large-8.announcement
            .announcement-heading
                h2 announcement
            .announcement-inner
                p Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. 
            .announcement-inner
                .announcement-img
                    img(src="../assets/image/df.jpg")
                .announcement-P
                    p Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. 
            .announcement-inner
                p Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus.
            .announcement-inner
                p Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus.
            .more-announcement.text-right
                a(href="#") more announcement 

        .cell.large-4.Contribute-main
            .Contribute
                h2 contribute
            .Contribute-btn
                button submit press releasae
            .Contribute-btn
                button send a trip
            .Contribute-btn
                button write a letter
            