#announcement 
    .announcemrnt-slid
        .grid-container
            .grid-x.annu-slid-pad.grid-padding-y
                .cell.text-center
                    img(src="../assets/image/ascd.jpg")

        .grid-container
            .grid-x
                .cell.large-8.announcement.medium-8
                    .announcement-heading
                        h2 announcement
                    .announcement-inner
                        p Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus  
                    .announcement-inner
                        .announcement-img
                            img(src="../assets/image/dfv.jpg")
                        .announcement-P
                            p Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. 
                    .announcement-inner
                        p Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus  
                    .announcement-inner
                        p Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus  
                    .more-announcement.text-right
                        a(href="#") more announcement 

                .cell.large-4.Contribute-main.medium-4
                    .Contribute
                        h2 contribute
                    .Contribute-btn
                        button submit press releasae
                    .Contribute-btn
                        button send a trip
                    .Contribute-btn
                        button write a letter
    