#art
    .grid-container.section-three 
        .grid-x
            .cell.large-4.news-section.medium-4
                .news-two
                    p get news in your inbox
                .sign-in-section
                    input(type='text', placeholder='Enter Email', name='email', required='')
                    button.signupbtn(type='submit') Sign Up
                .main-column
                    .column
                        p column
                    .all-column
                        p all column

                .art(style="background-image: url(../assets/image/hdf.jpg)")

                .cell.sponsored 
                    .sponsores-h.text-left
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .sponsores-t.text-left.comn-p
                            p by john doe

                .cell.sponsored 
                    .sponsores-h.text-left
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .sponsores-t.text-left.comn-p
                            p by john doe
                .art-second(style="background-image: url(../assets/image/group.jpg)")

                .main-column
                    .column
                        p opinion
                    .all-column
                        p all opinion

                .cell.sponsored 
                    .sponsores-h.text-left
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .sponsores-t.text-left.comn-p
                        p by john doe

                .cell.sponsored 
                    .sponsores-h.text-left
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .sponsores-t.text-left.comn-p
                        p by john doe

                .art-third(style="background-image: url(../assets/image/group.jpg)")

                .main-column
                    .column
                        p polls
                    .all-column
                        p all polls

                .radio-button
                .question
                    h2 Lorem Ipsum is simply dummy text of the printing and  text of the printing and  text of the printing and
                .foam-part
                        form
                            fieldset
                                .opinion-input 
                                    input#vehicleXUV(type='radio' name='vehicle' value='XUV' required='')
                                    label(for='vehicleXUV') option1
                                .opinion-input     
                                    input#vehicleXYLO(type='radio' name='vehicle' value='XYLO')
                                    label(for='vehicleXYLO') option2
                                .opinion-input 
                                    input#vehicleSCORPIO(type='radio' name='vehicle' value='SCORPIO')
                                    label(for='vehicleSCORPIO') option3
                                .opinion-input 
                                    input#vehicleSCORPIO(type='radio' name='vehicle' value='SCORPIO')
                                    label(for='vehicleSCORPIO') option4
                .submit-btn
                    button(href='#') submit
                .result
                    a(href="#") view result    

            .cell.large-8.medium-8.arts-ent
                .grid-x
                    .cell.large-6.arts-entertainment.medium-6
                        .news-two
                            .heading  
                                h2 Arts &amp; Entertainment
                        .arts-img(style="background-image: url(../assets/image/fv.jpg)")

                        .arts-living
                            h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat
                        .arts-bdr
                            .sponsores-h.text-left
                                h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                            .sponsores-t.text-left.comn-p
                                p by john doe
                        .arts-bdr
                            .sponsores-h.text-left
                                h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                            .sponsores-t.text-left.comn-p
                                p by john doe
                        .arts-bdr
                            .sponsores-h.text-left
                                h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                            .sponsores-t.text-left.comn-p
                                p by john doe
                        .more-stories
                            a(href="#") more a&e stories


                    .cell.large-6.living.medium-6
                        .news-two
                            h2 Living Stories
                        .arts-img(style="background-image: url(../assets/image/sd.jpg)")

                        .arts-living
                            h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat

                        .arts-bdr
                            .sponsores-h.text-left
                                h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                            .sponsores-t.text-left.comn-p
                                p by john doe
                        .arts-bdr
                            .sponsores-h.text-left
                                h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                            .sponsores-t.text-left.comn-p
                                p by john doe
                        .arts-bdr
                            .sponsores-h.text-left
                                h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                            .sponsores-t.text-left.comn-p
                                p by john doe    
                        .more-stories
                            a(href="#") more living stories

                .cell.small-8.content-main
                    .sports-feature.grid-x
                        .cell.largr-8.feature
                            h2 sports feature                          
                        .cell.large-6.soprts-left.medium-6
                            .image-sport(style="background-image: url(../assets/image/ef.jpg)")                      
                            .hh-sport   
                                h2 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat.
                            .pp-sport
                                p by john doe
                        .cell.large-6.soprts-left.medium-6
                            .john.grid-x
                                .more-img.cell.large-4.medium-4.small-4
                                    img(src="../assets//image/ef.jpg", alt="wd")
                                .more-head.cell.large-8.sports-bdr.medium-8.small-8
                                    .more-heading
                                        .more-head-p 
                                            p Lorem Ipsum is simply dummy text of the 
                                        .more-head-h2
                                            p by john doe
                            .john.grid-x.sports-bdr
                                .more-img.cell.large-4.medium-4.small-4
                                    img(src="../assets//image/hdf.jpg", alt="wd")
                                .more-head.cell.large-8.medium-8.small-8
                                    .more-heading
                                        .more-head-p
                                            p Lorem Ipsum is simply dummy text of the 
                                        .more-head-h2
                                            p by john doe
                            .john.grid-x.sports-bdr
                                .more-head.cell.large-12.not-heading
                                    .more-heading.more-bdr
                                        .more-head-p 
                                            p Lorem Ipsum is simply dummy text of the printing dummy text of the printing
                                        .more-head-h2
                                            p by john doe
                            .john.grid-x
                                .more-img.cell.large-4.medium-4.small-4
                                    img(src="../assets//image/fv.jpg", alt="wd")
                                .more-head.cell.large-8.medium-8.small-8
                                    .more-heading
                                        .more-head-p 
                                            p Lorem Ipsum is simply dummy text of the 
                                        .more-head-h2
                                            p by john doe
                                    .more-sports-two.text-right
                                        a(href="#") more sports 

                .food-drink     
                    h2 food & drink
                .grid-x
                    .cell.food-drink-one.large-6.medium-6
                        .image-sport(style="background-image: url(../assets/image/hdf.jpg)")     
                            
                    .cell.food-drink-two.large-6.medium-6
                        .food-image                 
                            .hh-sport   
                                h2  Lorem Ipsum is simply dummy text of the printing and  text of the printing and  text.
                            .p-sport
                                p  Lorem Ipsum is simply dummy text of the printing and  text of the printing and  text.
                            .pp-sport
                                p by john doe
                
                .grid-x
                    .cell.food-drink-one.large-6.medium-6
                        .food-image                 
                            .hh-sport   
                                h2  Lorem Ipsum is simply dummy text of the printing and  text of the printing and  text.
                            .p-sport
                                p  Lorem Ipsum is simply dummy text of the printing and  text of the printing and  text.
                            .pp-sport
                                p by john doe    
                            
                    .cell.food-drink-two.large-6.medium-6
                        .food-image                 
                            .hh-sport   
                                h2  Lorem Ipsum is simply dummy text of the printing and  text of the printing and  text.
                            .p-sport
                                p  Lorem Ipsum is simply dummy text of the printing and  text of the printing and  text.
                            .pp-sport
                                p by john doe

                            .more-sports-two.text-right
                                                a(href="#") more food & drink 

                