.grid-container.section-three 
    .grid-x
        .cell.large-4.news-section
            .news-two
                p get news in your inbox
            .sign-in-section
                input(type='text', placeholder='Enter Email', name='email', required='')
                button.signupbtn(type='submit') Sign Up
            .main-column
                .column
                    p column
                .all-column
                    p all column

            .art(style="background-image: url(../assets/image/hdf.jpg)")

            .cell.sponsored 
                .sponsores-h.text-left
                    h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                .sponsores-t.text-left.comn-p
                        p by john doe

            .cell.sponsored 
                .sponsores-h.text-left
                    h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                .sponsores-t.text-left.comn-p
                        p by john doe
            .art-second(style="background-image: url(../assets/image/group.jpg)")

            .main-column
                .column
                    p opinion
                .all-column
                    p all opinion

            cell.sponsored 
                .sponsores-h.text-left
                    h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                .sponsores-t.text-left.comn-p
                        p by john doe

            .cell.sponsored 
                .sponsores-h.text-left
                    h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                .sponsores-t.text-left.comn-p
                        p by john doe

            .art-third(style="background-image: url(../assets/image/group.jpg)")

            .main-column
                .column
                    p polls
                .all-column
                    p all polls

            .radio-button
            .question
                h2 Lorem Ipsum is simply dummy text of the printing and  text of the printing and  text of the printing and
            .foam-part
                    form
                        fieldset
                            .opinion-input 
                                input#vehicleXUV(type='radio' name='vehicle' value='XUV' required='')
                                label(for='vehicleXUV') option1
                            .opinion-input     
                                input#vehicleXYLO(type='radio' name='vehicle' value='XYLO')
                                label(for='vehicleXYLO') option2
                            .opinion-input 
                                input#vehicleSCORPIO(type='radio' name='vehicle' value='SCORPIO')
                                label(for='vehicleSCORPIO') option3
                            .opinion-input 
                                input#vehicleSCORPIO(type='radio' name='vehicle' value='SCORPIO')
                                label(for='vehicleSCORPIO') option4
            .submit-btn
                button(href='#') submit
            .result
                a(href="#") view result    

        .cell.large-8
            .grid-x
                .cell.large-6.arts-entertainment
                    .news-two
                        p Arts & Entertainment
                    .arts-img(style="background-image: url(../assets/image/fv.jpg)")

                    .arts-living
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat
                    .arts-bdr
                        .sponsores-h.text-left
                            h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                        .sponsores-t.text-left.comn-p
                            p by john doe
                    .arts-bdr
                        .sponsores-h.text-left
                            h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                        .sponsores-t.text-left.comn-p
                            p by john doe
                    .arts-bdr
                        .sponsores-h.text-left
                            h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                        .sponsores-t.text-left.comn-p
                            p by john doe


                .cell.large-6.living
                    .news-two
                        p Living Stories
                    .arts-img(style="background-image: url(../assets/image/sd.jpg)")

                    .arts-living
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat

                    .arts-bdr
                        .sponsores-h.text-left
                            h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                        .sponsores-t.text-left.comn-p
                            p by john doe
                    .arts-bdr
                        .sponsores-h.text-left
                            h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                        .sponsores-t.text-left.comn-p
                            p by john doe
                    .arts-bdr
                        .sponsores-h.text-left
                            h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                        .sponsores-t.text-left.comn-p
                            p by john doe    