#breaking-news
    .grid-container
        .section.grid-x
            .section-part.cell.large-12.text-center
                img(src="../assets/image/Rectangle.png", alt="")

    .grid-container
        .breaking.grid-x
            .cell
                .breaking-one
                    p breaking-news
                .breaking-two
                    p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat metus.
                .breaking-three
                    a(href="#")
                        i.fas.fa-times

    .grid-container
        .heading-main.grid-x
            .cell.large-4.heading-left.text-center.medium-4
                .cell.news-and-stories
                    .news
                        p recent news
                    .stories
                        button top stories

                .cell.sponsored 
                    .sponsores-h.bld.text-left
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .sponsores-t
                        .sponsores-left.comn-p
                            p by john doe
                        .sponsores-right        
                            button sponsored

                .cell.sponsored 
                    .sponsores-h.text-left
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .sponsores-t.text-left.comn-p
                            p by john doe

                .cell.sponsored 
                    .sponsores-h.text-left
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .sponsores-t.text-left.comn-p
                            p by john doe

                .cell.sponsored 
                    .sponsores-h.bld.text-left
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .sponsores-t
                        .sponsores-left.comn-p
                            p by john doe
                        .sponsores-right     
                            button sponsored
                .cell.sponsored 
                    .sponsores-h.text-left
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .sponsores-t.text-left.comn-p
                            p by john doe


            .cell.large-8.heading-right.medium-8
                .grid-x
                    .cell     
                        .side-images(style="background-image: url(../assets/image/imd.jpg)")
                    .side-category
                        ul
                            li.category-a  
                                a(href="#") category
                            li  
                                a(href="#") by john doe
                    .cell.center-category
                        h2 Heading goes here lorem ipsum sit amet, consectetur adipiscing elit. 
                    .cell.bottom-category
                        p Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor