#comment.cmt-main
    .comment-main
        .comment-heading
            p comments
        .comment-numbers
        i.far.fa-comment
    .respond-post
        .respond-head
            h2 Respond to this post
        .text-area-section
            textarea
        .notify-section
            input(type='checkbox', name='vehicle3', value='Boat', checked='')
            h2  Notify me about new comments via email
            br
            br
            input(type='submit', value='post comment', 
            )

    .comment-john-doe.grid-x
        .comment-jonn-main
            .comment-img.cell.large-1.medium-1
                img(src="../assets/image/rge.png", alt="")
            .comment-right-detail.cell.large-11.medium-11
                .comment-john-doe
                    .comment-detail
                        .comment-semi-detail
                            h2 john doe
                        .comment-semi-time
                            p 2 m ago
                .comment-john-doe-content
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                .comment-john-doe-response
                    i.fas.fa-reply 
                    h1 replay
                    i.far.fa-thumbs-up

    .comment-john-doe.grid-x.main-border-line
        .comment-jonn-main
            .comment-img.cell.large-1.medium-1
                img(src="../assets/image/rge.png", alt="")
            .comment-right-detail.cell.large-11.medium-11
                .comment-john-doe
                    .comment-detail
                        .comment-semi-detail
                            h2 john doe
                        .comment-semi-time
                            p 2 m ago
                .comment-john-doe-content
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                .comment-john-doe-response
                    i.fas.fa-reply 
                    h1 replay
                    i.far.fa-thumbs-up

        .comment-john-doe.grid-x.admin
            .comment-jonn-main
                .comment-img.cell.large-1.medium-1
                    img(src="../assets/image/rge.png", alt="")
                .comment-right-detail.cell.large-11.medium-11
                    .comment-john-doe
                        .comment-detail
                            .comment-semi-detail
                                .semi-detail-h2
                                    h2 john doe
                                .semi-admin
                                    button admin
                            .comment-semi-time
                                p 2 m ago
                    .comment-john-doe-content
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    .comment-john-doe-response
                        i.fas.fa-reply 
                        h1 replay
                        i.far.fa-thumbs-up

        .comment-john-doe.grid-x.admin-btm
            .comment-jonn-main
                .comment-img.cell.large-1.medium-1
                    img(src="../assets/image/rge.png", alt="")
                .comment-right-detail.cell.large-11.medium-11
                    .comment-john-doe
                        .comment-detail
                            .comment-semi-detail
                                h2 john doe
                            .comment-semi-time
                                p 2 m ago
                    .comment-john-doe-content
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    .comment-john-doe-response
                        i.fas.fa-reply 
                        h1 replay
                        i.far.fa-thumbs-up

            .comment-john-doe.grid-x.admin-right
                .comment-jonn-main
                    .comment-img.cell.large-1.medium-1
                        img(src="../assets/image/rge.png", alt="")
                    .comment-right-detail.cell.large-11.medium-11
                        .comment-john-doe
                            .comment-detail
                                .comment-semi-detail
                                    h2 john doe
                                .comment-semi-time
                                    p 2 m ago
                        .comment-john-doe-content
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                        .comment-john-doe-response
                            i.far.fa-thumbs-up
                            
            .comment-john-doe.grid-x.admin-right
                .comment-jonn-main
                    .comment-img.cell.large-1.medium-1
                        img(src="../assets/image/rge.png", alt="")
                    .comment-right-detail.cell.large-11.medium-11
                        .comment-john-doe
                            .comment-detail
                                .comment-semi-detail
                                    h2 john doe
                                .comment-semi-time
                                    p 2 m ago
                        .comment-john-doe-content
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                        .comment-john-doe-response
                            i.far.fa-thumbs-up

            .comment-john-doe.grid-x.admin-right
                .comment-jonn-main
                    .comment-img.cell.large-1.medium-1
                        img(src="../assets/image/rge.png", alt="")
                    .comment-right-detail.cell.large-11.medium-11
                        .comment-john-doe
                            .comment-detail
                                .comment-semi-detail
                                    h2 john doe
                                .comment-semi-time
                                    p 2 m ago
                        .comment-john-doe-content
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                        .comment-john-doe-response
                            i.far.fa-thumbs-up

            .comment-john-doe.grid-x.admin-right
                .comment-jonn-main
                    .comment-img.cell.large-1.medium-1
                        img(src="../assets/image/rge.png", alt="")
                    .comment-right-detail.cell.large-11.medium-11
                        .comment-john-doe
                            .comment-detail
                                .comment-semi-detail
                                    h2 john doe
                                .comment-semi-time
                                    p 2 m ago
                        .comment-john-doe-content
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                        .comment-john-doe-response
                            i.far.fa-thumbs-up

        .comment-john-doe.grid-x.admin-btm
            .comment-jonn-main
                .comment-img.cell.large-1.medium-1
                    img(src="../assets/image/rge.png", alt="")
                .comment-right-detail.cell.large-11.medium-11
                    .comment-john-doe
                        .comment-detail
                            .comment-semi-detail
                                h2 john doe
                            .comment-semi-time
                                p 2 m ago
                    .comment-john-doe-content
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    .comment-john-doe-response
                        i.fas.fa-reply 
                        h1 replay
                        i.far.fa-thumbs-up

        .comment-john-doe.grid-x.admin-btm
            .comment-jonn-main
                .comment-img.cell.large-1.medium-1
                    img(src="../assets/image/rge.png", alt="")
                .comment-right-detail.cell.large-11.medium-11
                    .comment-john-doe
                        .comment-detail
                            .comment-semi-detail
                                h2 john doe
                            .comment-semi-time
                                p 2 m ago
                    .comment-john-doe-content
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    .comment-john-doe-response
                        i.fas.fa-reply 
                        h1 replay
                        i.far.fa-thumbs-up
        .comment-john-doe.grid-x.admin-btm
            .comment-jonn-main
                .comment-img.cell.large-1.medium-1
                    img(src="../assets/image/rge.png", alt="")
                .comment-right-detail.cell.large-11.medium-11
                    .comment-john-doe
                        .comment-detail
                            .comment-semi-detail
                                h2 john doe
                            .comment-semi-time
                                p 2 m ago
                    .comment-john-doe-content
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    .comment-john-doe-response
                        i.fas.fa-reply 
                        h1 replay
                        i.far.fa-thumbs-up

        .comment-john-doe.grid-x.admin-btm
            .comment-jonn-main
                .comment-img.cell.large-1.medium-1
                    img(src="../assets/image/rge.png", alt="")
                .comment-right-detail.cell.large-11.medium-11
                    .comment-john-doe
                        .comment-detail
                            .comment-semi-detail
                                h2 john doe
                            .comment-semi-time
                                p 2 m ago
                    .comment-john-doe-content
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    .comment-john-doe-response
                        i.fas.fa-reply 
                        h1 replay
                        i.far.fa-thumbs-up
                
    .comment-john-doe.grid-x
        .comment-jonn-main
            .comment-img.cell.large-1.medium-1
                img(src="../assets/image/rge.png", alt="")
            .comment-right-detail.cell.large-11.medium-11
                .comment-john-doe
                    .comment-detail
                        .comment-semi-detail
                            h2 john doe
                        .comment-semi-time
                            p 2 m ago
                .comment-john-doe-content
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                .comment-john-doe-response
                    i.fas.fa-reply 
                    h1 replay
                    i.far.fa-thumbs-up
                .respond-post
                    .respond-head.respond-head-last
                        h2 Reply to John Doe's comment
                    .text-area-section
                        textarea
                    .notify-section
                        input(type='checkbox', name='vehicle3', value='Boat', checked='')
                        h2  Notify me about new comments via email
                        br
                        br
                        input(type='submit', value='post reply', 
                        )
                        button(type='cancel', value='cancel') cancel

    .comment-john-doe.grid-x
        .comment-jonn-main
            .comment-img.cell.large-1.medium-1
                img(src="../assets/image/rge.png", alt="")
            .comment-right-detail.cell.large-11.medium-11
                .comment-john-doe
                    .comment-detail
                        .comment-semi-detail
                            h2 john doe
                        .comment-semi-time
                            p 2 m ago
                .comment-john-doe-content
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                .comment-john-doe-response
                    i.fas.fa-reply 
                    h1 replay
                    i.far.fa-thumbs-up

    .comment-john-doe.grid-x
        .comment-jonn-main
            .comment-img.cell.large-1.medium-1
                img(src="../assets/image/rge.png", alt="")
            .comment-right-detail.cell.large-11.medium-11
                .comment-john-doe
                    .comment-detail
                        .comment-semi-detail
                            h2 john doe
                        .comment-semi-time
                            p 2 m ago
                .comment-john-doe-content
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                .comment-john-doe-response
                    i.fas.fa-reply 
                    h1 replay
                    i.far.fa-thumbs-up