.grid-x.grid-padding-x
    .cell
        #comment.cmt-main
            .comment-main
                .comment-heading
                    p comments
                .comment-numbers
                    a(href="#")
                        span.count_comm_thumb
                            i.far.fa-comment.counter_com_thumb

            .respond-post
                .respond-head
                    h2 Respond to this post
                .text-area-section
                    textarea
                .notify-section
                    label.container.check-interest
                        | Notify me about new comments via email
                        input(type='checkbox', checked='checked')
                        span.checkmark

              
                    
                each item in [1,2]
                    .comment-john-doe.grid-x.main-border-line
                        .comment-jonn-main
                            .comment-img.cell.large-1.medium-1
                                img(src="../assets/image/rge.png", alt="")
                            .comment-right-detail.cell.large-11.medium-11
                                .comment-john-doe
                                    .comment-detail
                                        .comment-semi-detail
                                            h2 john doe
                                        .comment-semi-time
                                            p 2 m ago
                                .comment-john-doe-content
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                .comment-john-doe-response
                                    a(href="#") 
                                        i.fas.fa-reply 
                                    h1 replay
                                    a(href="#")
                                        span.count_comm_thumb
                                            i.far.fa-thumbs-up.counter_com_thumb
                                    

                .comment-john-doe.grid-x.admin
                    .comment-jonn-main
                        .comment-img.cell.large-1.medium-1
                            img(src="../assets/image/rge.png", alt="")
                        .comment-right-detail.cell.large-11.medium-11
                            .comment-john-doe
                                .comment-detail
                                    .comment-semi-detail
                                        .semi-detail-h2
                                            h2 john doe
                                        .semi-admin
                                            button admin
                                    .comment-semi-time
                                        p 2 m ago
                            .comment-john-doe-content
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                            .comment-john-doe-response
                                a(href="#") 
                                    i.fas.fa-reply 
                                h1 replay
                                a(href="#")
                                    span.count_comm_thumb
                                        i.far.fa-thumbs-up.counter_com_thumb

                .comment-john-doe.grid-x.admin-btm
                    .comment-jonn-main
                        .comment-img.cell.large-1.medium-1
                            img(src="../assets/image/rge.png", alt="")
                        .comment-right-detail.cell.large-11.medium-11
                            .comment-john-doe
                                .comment-detail
                                    .comment-semi-detail
                                        h2 john doe
                                    .comment-semi-time
                                        p 2 m ago
                            .comment-john-doe-content
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                            .comment-john-doe-response
                                a(href="#") 
                                    i.fas.fa-reply 
                                h1 replay
                                a(href="#")
                                    span.count_comm_thumb
                                        i.far.fa-thumbs-up.counter_com_thumb

                    each item in [1,2,3,4]
                        .comment-john-doe.grid-x.admin-right
                            .comment-jonn-main
                                .comment-img.cell.large-1.medium-1
                                    img(src="../assets/image/rge.png", alt="")
                                .comment-right-detail.cell.large-11.medium-11
                                    .comment-john-doe
                                        .comment-detail
                                            .comment-semi-detail
                                                h2 john doe
                                            .comment-semi-time
                                                p 2 m ago
                                    .comment-john-doe-content
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                    .comment-john-doe-response
                                        a(href="#")
                                            span.count_comm_thumb
                                                i.far.fa-thumbs-up.counter_com_thumb
                            

                each item in [1,2,3,4]
                    .comment-john-doe.grid-x.admin-btm
                        .comment-jonn-main
                            .comment-img.cell.large-1.medium-1
                                img(src="../assets/image/rge.png", alt="")
                            .comment-right-detail.cell.large-11.medium-11
                                .comment-john-doe
                                    .comment-detail
                                        .comment-semi-detail
                                            h2 john doe
                                        .comment-semi-time
                                            p 2 m ago
                                .comment-john-doe-content
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                .comment-john-doe-response
                                    a(href="#") 
                                        i.fas.fa-reply 
                                    h1 replay
                                    a(href="#")
                                        span.count_comm_thumb
                                            i.far.fa-thumbs-up.counter_com_thumb
            .comment-john-doe.grid-x
                .comment-jonn-main
                    .comment-img.cell.large-1.medium-1
                        img(src="../assets/image/rge.png", alt="")
                    .comment-right-detail.cell.large-11.medium-11
                        .comment-john-doe
                            .comment-detail
                                .comment-semi-detail
                                    h2 john doe
                                .comment-semi-time
                                    p 2 m ago
                        .comment-john-doe-content
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                        .comment-john-doe-response
                            a(href="#") 
                                i.fas.fa-reply 
                            h1 replay
                            a(href="#")
                                span.count_comm_thumb
                                    i.far.fa-thumbs-up.counter_com_thumb
                            
                        .respond-post
                            .respond-head.respond-head-last
                                h2 Reply to John Doe's comment
                            .text-area-section
                                textarea
                            .notify-section
                                label.container.check-interest
                                    | Notify me about new comments via email
                                    input(type='checkbox', checked='')
                                    span.checkmark
                                

            each item in [1,2]
                .comment-john-doe.grid-x
                    .comment-jonn-main
                        .comment-img.cell.large-1.medium-1
                            img(src="../assets/image/rge.png", alt="")
                        .comment-right-detail.cell.large-11.medium-11
                            .comment-john-doe
                                .comment-detail
                                    .comment-semi-detail
                                        h2 john doe
                                    .comment-semi-time
                                        p 2 m ago
                            .comment-john-doe-content
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                            .comment-john-doe-response
                                a(href="#") 
                                    i.fas.fa-reply 
                                h1 replay
                                a(href="#")
                                    span.count_comm_thumb
                                        i.far.fa-thumbs-up.counter_com_thumb