doctype html
html.no-js(lang='en')
    head
        include head

  
    body
        include header
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/Rectangle.png", alt="")
        //- contact us page html code
        #contact-us
            .grid-container
                .grid-x
                    .cell.large-1.medium-1

                    .cell.large-10.medium-10
                        .grid-x
                            .cell.text-center
                                .contact-us-h
                                    h2 contact us

                        .grid-x.send-email
                            .cell.large-6.send-input.send-input-padd.medium-6
                                h2 
                                    span send 
                                    |   us email
                                form
                                    p name
                                    input#fname(type='text', name='firstname', placeholder='')
                                    p email address
                                    input#lname(type='text', name='lastname', placeholder='')

                                h3 How can we help?
                                .grid-x
                                    .cell.large-12.send-input.medium-12
                                        .grid-x.help
                                            .cell.help-checkbox  
                                                .grid-x
                                                    .cell.large-6.medium-6
                                                        input#checkbox1(type='checkbox')
                                                        label(for='checkbox1') Submit Editorial
                                                    .cell.large-6.medium-6
                                                        .news-tip
                                                            label
                                                                select
                                                                    option(value='husker') news tip
                                                                    option(value='starbuck') Starbuck
                                                                    option(value='hotdog') Hot Dog
                                                                    option(value='apollo') Apollo
                                                
                                                
                                            .cell.help-checkbox.help-select   
                                                input#checkbox2(type='checkbox')
                                                label(for='checkbox2') Report an Issue
                                            .cell.help-checkbox.help-select 
                                                input#checkbox2(type='checkbox')
                                                label(for='checkbox2') General Contact info
                                     
                                        
                                    .news-button
                                        button send
                            .cell.large-6.send-input-padd.medium-6
                                .visit-address 
                                    h2
                                        span visit 
                                        | us 
                                    p 5025 Some street Some city, State, Country
                                .visit-address
                                    h2  
                                        span call 
                                        | us 
                                    p 000-000-0000
                                

                        .grid-x.event-icon.text-center.grid-padding-x
                            .cell.large-3.medium-3
                                img(src="../assets/image/event.png", alt="")
                                .event-btn
                                    button create an event
                            .cell.large-3.medium-3
                                img(src="../assets/image/print advert.png", alt="")
                                .event-btn
                                    button create an obitury
                            .cell.large-3.medium-3
                                img(src="../assets/image/advertise.png", alt="")
                                .event-btn
                                    button Advertise With Us
                            .cell.large-3.medium-3
                                img(src="../assets/image/contribute.png", alt="")
                                .event-btn
                                    button Contribute to SBI

                    .cell.large-1.medium-1
           
        include scripts
        include footer
                        