//- delivrey info
#delivery-info
    .what-do-h
        h2 Delivery Info
    .delivery-info 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vel imperdiet mauris. Donec accumsan mollis rutrum. Nam a purus vitae lacus aliquam aliquet vitae in nisl. Phasellus bibendum vulputate lorem, ut ullamcorper ligula feugiat vel. Curabitur neque lacus, sollicitudin 
    .what-do-h
        h2 Print Circulation
    .delivery-info 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque 
    .delivery-total.grid-x
        .total-canvas.cell.large-8.medium-8
            canvas#myChart(style="height:20px; width:50px")
            .price-a.comn-price
                p 3000
            .price-b.comn-price
                p 10000
            .price-c.comn-price
                p 17000
                
        .total-number.cell.large-4.medium-4
            h2 30000
            h3 total number
            ul 
                li 
                    .print-color     
                    p lorem ipsoms
                li 
                    .print-color.gray-print    
                    p lorem ipsoms
                li 
                    .print-color.blue-print     
                    p lorem ipsoms
                
    .what-do-h
        h2 Print Deadline
    .delivery-info 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque 
   
    //- tabs section
    ul#collapsing-tabs.tabs(data-active-collapse='true', data-tabs='')
        li.tabs-title.is-active
            a(href='#panel1c', aria-selected='true') Newspaper ad Deadline
        li.tabs-title
            a(href='#panel2c') Event Deadline
        li.tabs-title
            a(href='#panel3c') Other Deadline
    
    .tabs-content(data-tabs-content='collapsing-tabs')
        #panel1c.tabs-panel.is-active
            p monday 6:46 A.M
        #panel2c.tabs-panel
            p tuesday 6:46 A.M
        #panel3c.tabs-panel
            p wednesday 6:46 A.M      
        
        
    //-  advertise section
    .advertise.grid-x
        .contact-delivery.cell.large-6.medium-6.small-12
            h2 ADVERTISE WITH US
            button contact us now
            

        .ad-section.cell.large-6.medium-6.small-12
            .add-img.grid-x
                .cell.add-gray.large-9.medium-9.small-9
                    .gray-line
                    .gray-line
                    .small-line-part
                        .small-add
                        .small-line
                            .small-line-inner
                            .small-line-inner.inner-padd
                    each item in [1,2,3,4,5]
                        .gray-line
                .cell.add-red.large-3.medium-3.small-3
                    .red-line
            .cross-angle
