//- editorial-staff scss
#editorial-staff
    .editorial-staff
        p
    .grid-x.grid-padding-x
        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe



        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe
        
        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe
              
        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe
        
        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe

        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe

        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe



        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe
        
        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe
              
        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe
        
        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe

        .cell.large-4.medium-4.editorial-img-main
            .editorial-img(style="background-image:url(../assets/image/hdf.jpg)")   
                .box
                    a.button(href='#popup1')
                        i.fas.fa-info
                #popup1.overlay
                    .popup
                        .edit-staff 
                            h1 john doe
                        .edit-staff 
                            p title
                            h2 Johndoe@email.com
                        a.close(href='#') ×
                        .content
                            .edit-staff-P
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus 
                            .edit-icon.grid-x
                                .edit-icon-a.cell.large-6
                                    ul 
                                        li
                                            a(href="#")
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="#")
                                                i.fab.fa-twitter
                                        li
                                            a(href="#")
                                                i.fas.fa-envelope
                                .edit-icon-p.cell.large-6.text-right
                                    p Read all posts by John Doe


    .more-staff-btn
        button More staff members

    
    