#footer
    //- footer goes here
    footer
        .grid-container
            .top-footer
                .footer-menu
                    ul
                        li
                            a(href="#") home
                        li
                            a(href="#") news
                        li
                            a(href="#") are & entertainment
                        li
                            a(href="#") opinion
                        li
                            a(href="#") living
                        li
                            a(href="#") event
                .footer-menu
                    ul
                        li
                            a(href="#") food & drink
                        li
                            a(href="#") sports
                        li
                            a(href="#") Obituaries
                        li
                            a(href="#") classified
                        li
                            a(href="#") real estate
                        li
                .footer-menu
                    ul
                        li
                            a(href="#") Place Classifieds
                        li
                            a(href="#") Contact Us
                        li
                            a(href="#") Submit Press Release
                        li
                            a(href="#") Advertising
                        li
                            a(href="#") About us
                        li
                .footer-menu
                    ul
                        li
                            a(href="#") quantcast
                        li
                            a(href="#") Authoriz.net verified
                .footer-menu
                    ul
                        li
                            a(href="#") create event
                        li
                            a(href="#") Create Obituary
                        li
                            a(href="#") Submit a Letter


            .center-footer
                .footer-comn
                    a(href="#")
                        img(src="../assets/image/logo2.svg", alt="")
                .footer-comn.ftr-center.text-center
                    p follow us on
                    .footer-symbol
                        ul
                            li
                                a(href='#')
                                    i.fab.fa-instagram
                            li
                                a(href='#')
                                    i.fab.fa-facebook-f 
                            li
                                a(href='#')
                                    i.fab.fa-twitter 


                .news-letter-ftr
                    .newsletter-sign-up
                        p newsletter-sign-up
                    .mail-section-footer                        
                        label
                            input(type='text' placeholder='johndoe@gmail.com') 
                    .lable-part-ftr   
                        p sign up 
                    .news

            .bottom-footer
                .privacy
                    ul 
                        li
                            a(href="#") Privacy Policy
                        li
                            a(href="#") site map
                .copyrights
                    p Copyright ©2018 Santa Barbara Independent, Inc. Reproduction of material from any Independent.com pages without written permission is strictly prohibited. If you believe an Independent.com user or any material appearing on Independent.com is copyrighted material used without proper permission, please click here.