//- header top
header   
    .grid-container
        .grid-x.align-justify
            .date.cell.large-6
                ul 
                    li  mon,thu09,2018
                    li  6:45a.m
                    li  34cel f   
            .cell.large-6.search-bar
                .mail-part
                    .mail-section                          
                        label
                            input(type='text' placeholder='johndoe@gmail.com') 
                    .lable-part    
                        p sign up to news letters   
                .contribute                                                                                       
                    p contribute