#header
    //- header top
    header   
        .grid-container
            .grid-x.align-justify
                .date.cell.large-6.small-12.medium-4.general-detail
                    ul 
                        li
                            a(href="#") mon,thu09,2018
                                    
                        li  
                            i.far.fa-clock 
                            a(href="#") 6:45a.m   
                            
                        li 
                            i.fas.fa-thermometer-three-quarters
                            a(href="#") 34cel f      
                                
                .cell.large-6.search-bar.medium-8
                    .mail-part
                        .mail-section                          
                            label
                                input(type='text', placeholder='johndoe@gmail.com')
                        .lable-part    
                            p Sign up to Newsletters   
                    .contribute                                                                                       
                        p contribute
                    .users  
                        i.fas.fa-user

    .center-part-header
        .grid-container
            .bdr-head.grid-x
                .head.cell.large-4.logo-part.medium-4.small-4
                    //- a(href="#")
                    #mySidenav.sidenav
                        a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
                        a(href='#') home
                        a(href='#') news
                        a(href='#') Art & Entertainment
                        a(href='#') opinion
                        a(href="#") living 
                        a(href="#") event
                        a(href="#") food $ drink
                        a(href="#") sports
                        a(href="#") obituaries
                        a(href="#") classified
                        a(href="#") real estate
                        a(href="#") Newsletter
                        a(href="#") About us
                        a(href="#") Opinion
                        a(href="#") Advertising
                        a(href="#") Contact us
                        a(href="#") Advertising
                        a(href="#")
                            i.fab.fa-instagram
                            i.fab.fa-facebook-f
                            i.fab.fa-twitter

                    span(style='font-size:30px;cursor:pointer', onclick='openNav()') ☰ 
                        .hide-mobile
                            a(href="#")
                                i.fas.fa-search
                .head-center.cell.large-4.logo-part.text-center.medium-4.small-4
                    a(href="#")
                        img(src="../assets/image/logo.svg", alt="")
                .head-btm.cell.large-4.logo-part.text-right.medium-4.small-4
                    button tips
                    .head-mobile-search
                        a(href="#")
                            i.fas.fa-search
        //- header bottom
    .btm-header               
        .grid-container
            .grid-x
                .cell.btm-header-content
                    ul
                        li
                            a(href="#") news
                        li
                            a(href="#") art entertainment   
                        li
                            a(href="#") opinion
                        li
                            a(href="#") living   
                        li
                            a(href="#") event 
                        li
                            a(href="#") food $ drink      
                        li
                            a(href="#") sports
                        li
                            a(href="#") obituaries   
                        li
                            a(href="#") classified
                        li
                            a(href="#") real estate   