doctype html
html.no-js(lang='en')
  head
    include head

  
  body
    include header
    include head
    include section-one
    include section-two

    include multimedia-Stories-slider
    include art-and-entertainment
    include Print-Issue-slider
    include announcement
    include footer
    include scripts
  
//- include art-and-entertainment
//-     include slider
//-     include announcement

   
