doctype html
html.no-js(lang='en')
  head
    include head

  
  body
    include header
    include head
    include breaking-news
    include premiere-event

    include multimedia-Stories-slider
    include art-and-entertainment
    include Print-Issue-slider
    include announcement
    include footer
    include scripts

   
