//- intro sbi pade pug structure
#intro-sbi
    .intro-sbi
        .grid-x.tabing
            .cell  
                ul.vertical.menu.accordion-menu(data-accordion-menu='')
                    li  
                        a(href='#') Intro to SBI
                        ul.menu.vertical.nested
                            li
                                a(href='#') What We Do?
                            li
                                a(href='#') Who We Are?
                            li
                                a(href='#') Where Are We?
                            li
                                a(href='#') Our Story
            .cell  
                ul.vertical.menu.accordion-menu(data-accordion-menu='')
                    li  
                        a(href='#') Intro to SBI
                        ul.menu.vertical.nested
                            li
                                a(href='#') What We Do?
                            li
                                a(href='#') Who We Are?
                            li
                                a(href='#') Where Are We?
                            li
                                a(href='#') Our Story
            .cell  
                ul.vertical.menu.accordion-menu(data-accordion-menu='')
                    li  
                        a(href='#') Intro to SBI
                        ul.menu.vertical.nested
                            li
                                a(href='#') What We Do?
                            li
                                a(href='#') Who We Are?
                            li
                                a(href='#') Where Are We?
                            li
                                a(href='#') Our Story
            .cell  
                ul.vertical.menu.accordion-menu(data-accordion-menu='')
                    li  
                        a(href='#') Delivery Info
                        ul.menu.vertical.nested
                            li
                                a(href='#') Digital Description
                            li
                                a(href='#') Print Circulation Description & Total Number Metric
                            li
                                a(href='#') Deadlines Toggled By Type of Deadline
                
            .cell  
                ul.vertical.menu.accordion-menu(data-accordion-menu='')
                    li  
                        a(href='#') Advertise With Us
                        ul.menu.vertical.nested
                            li
                                a(href='#') What We Do?
                            li
                                a(href='#') Who We Are?
                            li
                                a(href='#') Where Are We?
                            li
                                a(href='#') Our Story