//- intro sbi pade pug structure
#intro-sbi
    .intro-sbi#myHeader.header
        nav#mainNav.navigation.grid-x
            .cell 
                ul.vertical.menu.accordion-menu(data-accordion-menu='')
                    li  
                        a(href='#') Intro to SBI
                        ul.menu.vertical.nested
                            li
                                a.navigation__link(href='#1') What We Do?
                            li
                                a.navigation__link(href='#2') Who We Are?
                            li
                                a.navigation__link(href='#3') Where Are We?
                            li
                                a.navigation__link(href='#4') Our Story
            .cell  
                ul.vertical.menu.accordion-menu(data-accordion-menu='')
                    li  
                        a.navigation__link(href='#5') Editorial Staff
                        ul.menu.vertical.nested
                        
            .cell  
                ul.vertical.menu.accordion-menu(data-accordion-menu='')
                    li  
                        a.navigation__link(href='#6') Business & Advertising Staff
                        ul.menu.vertical.nested
                           
            .cell  
                ul.vertical.menu.accordion-menu(data-accordion-menu='')
                    li  
                        a(href='#') Delivery Info
                        ul.menu.vertical.nested
                            li
                                a.navigation__link(href='#7') Digital Description
                            li
                                a.navigation__link(href='#9') Print Circulation Description & Total Number Metric
                            li
                                a.navigation__link(href='#10') Deadlines Toggled By Type of Deadline
                
            .cell  
                ul.vertical.menu.accordion-menu(data-accordion-menu='')
                    li  
                        a.navigation__link(href='#8') Advertise With Us
                        ul.menu.vertical.nested
                           