#archive-img
    .grid-container
        .grid-x.grid-padding-x
            each itam in [1,2,3,4,5]
                .cell.large-4.many-img.latest-media-img.medium-4
                    .archive-img(style="background-image: url(../assets/image/erg.jpg)")

                    .archive-h2.latest-media-head
                        h2 Heading goes here lorem ipsum dolor sit amet, 

                    .archive-listing.latest-media-head
                        ul
                            li
                                h3 category
                            li
                                p by john doe
                                    
                .cell.large-4.many-img.latest-media-img.medium-4
                    .archive-img(style="background-image: url(../assets/image/sd.jpg)")

                    .archive-h2
                        h2 Heading goes here lorem ipsum dolor sit amet, 

                    .archive-listing
                        ul
                            li
                                h3 category
                            li
                                p by john doe
                                
                .cell.large-4.many-img.latest-media-img.medium-4
                    .archive-img(style="background-image: url(../assets/image/hdf.jpg)")

                    .archive-h2
                        h2 Heading goes here lorem ipsum dolor sit amet, 

                    .archive-listing
                        ul
                            li
                                h3 category
                            li
                                p by john doe