#more-like-this
    .more-like-this
        p more like this

    .grid-x
        .cell.large-7.more-like.medium-7.small-12
            .more-like-left-img(style="background-image: url(../assets/image/imd.jpg)")
            .more-like-left-content
                h2 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat.
        .cell.large-5.more-like-right.medium-5.small-12
            .grid-x.grid-padding-x
                .cell.large-5.more-like-right-img.medium-5.small-5
                    img(src="../assets/image/hdf.jpg", alt="")
                .cell.large-7.more-like-right-h2.medium-7.small-7
                    h2 Heading goes here lorem ipsum dolor
            .grid-x.grid-padding-x
                .cell.large-5.more-like-right-img.medium-5.small-5
                    img(src="../assets/image/imd.jpg", alt="")
                .cell.large-7.more-like-right-h2.medium-7.small-7
                    h2 Heading goes here lorem ipsum dolor
            .grid-x.grid-padding-x
                .cell.large-5.more-like-right-img.medium-5.small-5
                    img(src="../assets/image/sd.jpg", alt="")
                .cell.large-7.more-like-right-h2.medium-7.small-7
                    h2 Heading goes here lorem ipsum dolor
            .grid-x.grid-padding-x
                .cell.large-5.more-like-right-img.medium-5.small-5
                    img(src="../assets/image/hdf.jpg", alt="")
                .cell.large-7.more-like-right-h2.medium-7.small-7
                    h2 Heading goes here lorem ipsum dolor