.slider
  .grid-container
    .cell
      .slider-content-h
        .slider-bdr
          h2 Multimedia Stories
        .row
          .col-md-12.heroSlider-fixed
            .overlay
            // Slider
            .slider.responsive
              .slider-main
                .slider-img
                  img(src="../assets/image/we.jpg", alt="")
                .slider-content-h
                  h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                .slider-content-p
                  p by john doe
              .slider-main
                .slider-img
                  img(src="../assets/image/we.jpg", alt="")
                .slider-content-h
                  h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                .slider-content-p
                  p by john doe
              .slider-main
                .slider-img
                  img(src="../assets/image/we.jpg", alt="")
                .slider-content-h
                  h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                .slider-content-p
                  p by john doe
              .slider-main
                .slider-img
                  img(src="../assets/image/we.jpg", alt="")
                .slider-content-h
                  h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                .slider-content-p
                  p by john doe
              .slider-main
                .slider-img
                  img(src="../assets/image/we.jpg", alt="")
                .slider-content-h
                  h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                .slider-content-p
                  p by john doe
              .slider-main
                .slider-img
                  img(src="../assets/image/we.jpg", alt="")
                .slider-content-h
                  h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                .slider-content-p
                  p by john doe
              .slider-main
                .slider-img
                  img(src="../assets/image/we.jpg", alt="")
                .slider-content-h
                  h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                .slider-content-p
                  p by john doe
              .slider-main
                .slider-img
                  img(src="../assets/image/we.jpg", alt="")
                .slider-content-h
                  h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                .slider-content-p
                  p by john doe
            // control arrows
            .prev
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            .next
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
