doctype html
html.no-js(lang='en')
    head
        include head

  
    body
        include header
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/Rectangle.png", alt="")

        #edit-profile
            .grid-container.edit-profile-cover
                .grid-x
                    .cell.text-center
                        .edit-profile
                            h2 EDIT PROFILE
                    
                    .cell.cover-image(style="background-image:url(../assets/image/cover.svg)")
                        .change-img
                            img(src="../assets/image/death.jpg", alt="")
                            
                            h2 john doe
                            p Johndoe@gmail.com
            //- for tabs html
            .grid-container
                .grid-x
                    .cell
                        ul#deeplinked-tabs.tabs(data-deep-link='true', data-update-history='true', data-deep-link-smudge='true', data-deep-link-smudge-delay='500', data-tabs='')
                            li.tabs-title.is-active
                                a(href='#panel1d', aria-selected='true') Tab 1
                            li.tabs-title
                                a(href='#panel2d') Tab 2
                            li.tabs-title
                                a(href='#panel3d') Tab 3
                            li.tabs-title
                                a(href='#panel4d') Tab 4
                        .tabs-content(data-tabs-content='deeplinked-tabs')
                            #panel1d.tabs-panel.is-active
                                .grid-x
                                    .cell   
                                        form(action='#')
                                            p
                                                input#test1(type='checkbox')
                                                label(for='test1') Red
                    






                            #panel2d.tabs-panel
                                p Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.
                            #panel3d.tabs-panel
                                img.thumbnail(src='assets/img/generic/rectangle-3.jpg')
                            #panel4d.tabs-panel
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       
        include scripts