doctype html
html.no-js(lang='en')
    head
        include head

  
    body
        include header
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/Rectangle.png", alt="")

        #edit-profile
            .grid-container.edit-profile-cover
                .grid-x
                    .cell.text-center
                        .edit-profile
                            h2 EDIT PROFILE
                    
                    .cell.cover-image(style="background-image:url(../assets/image/cover.svg)")
                        .change-img
                            img(src="../assets/image/death.jpg", alt="")
                            
                            h2 john doe
                            p Johndoe@gmail.com
                        
                    //- for tabs html
                .grid-x
                    .cell
                        ul#example-tabs.tabs(data-tabs='').bg-trans
                            li.tabs-title.is-active
                                a(href='#panel1', aria-selected='true') My Interests
                            li.tabs-title
                                a(data-tabs-target='panel2', href='#panel2') My Events
                            li.tabs-title
                                a(data-tabs-target='panel3', href='#panel3') Newsletter preferences     
                            li.tabs-title
                                a(data-tabs-target='panel4', href='#panel4') My Purchases 
                            li.tabs-title
                                a(data-tabs-target='panel5', href='#panel5') Favourites     
                        .tabs-content(data-tabs-content='example-tabs')
                           
                            //-  tab one
                            #panel1.tabs-panel.is-active
                                .interest-padd
                                    .interest
                                        p Interested in 
                                            span 32 topics
                                    .unsubscribe
                                        h2 Unsubscribe to all
                                                                
                                    .grid-x.checkbox-interest
                                        .cell.large-1
                                        .cell.large-10
                                            each item in [1,2,3,4,5,6,7,8]
                                                .grid-x
                                                    each item in [1,2,3,4]
                                                        .cell.large-3
                                                            form
                                                                input(type="checkbox")
                                                                |   Interest name
                                        .cell.large-1

                                    .explore
                                        h2 
                                            span explore 
                                            | all topics
                                        

                            //- tab two
                            #panel2.tabs-panel
                                .interest-padd
                                    .interest
                                        p Interested in 
                                            span 32 topics
                                    .unsubscribe
                                        h2 Clear All Events all
                                                             
                                .grid-x.checkbox-interest
                                    .cell.large-1
                                    .cell.large-10
                                        .grid-x.grid-padding-x
                                            each item in [1,2,3,4,5,6]
                                                .cell.large-4
                                                    .premier
                                                        .premier-img(style="background-image: url(../assets/image/sd.jpg)")
                                                        .premier-time
                                                            i.far.fa-clock
                                                            p 6:46 A.M &nbsp; &nbsp;&nbsp; MON, JUL 09
                                                        .premier-p
                                                            i.fas.fa-map-marker-alt
                                                            p Santa Barbara
                                                        .premier-head
                                                            h2 Heading goes here is is sit th amet, consectetur elit adipiscing 
                                                        .remove-btn
                                                            button 
                                                                i.fas.fa-trash-alt 
                                                                | remove   
                                    .cell.large-1

                                .explore
                                    h2 
                                        span explore 
                                        | all event
                                

                            //- tab three
                            #panel3.tabs-panel
                                .interest-padd
                                    .interest
                                        p Interested in 
                                            span 32 topics
                                    .unsubscribe
                                        h2 Unsubscribe to all
                                                             
                                .grid-x.checkbox-interest
                                    .cell.large-1
                                    .cell.large-10
                                        each item in [1,2,3]
                                            .grid-x.grid-padding-x
                                                .cell.newsletter-name
                                                    fieldset.v-checkbox
                                                        input.field(id="checkbox", type="checkbox")
                                                        label.label(for="checkbox") Newsletter name
                                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                                    .cell.large-1

                                .explore
                                    h2 
                                        span explore 
                                        | all newsletters


                            //- tab four
                            #panel4.tabs-panel
                                .interest-padd
                                    .interest
                                        p Purchased 
                                            span 3 Items
                                    
                                                             
                                .grid-x.purchase-main
                                    .cell.large-2.purchase
                                        h2 evant
                                        p 29th July 2018
                                    .cell.large-9.Obituary
                                        p Event name goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque...

                                    .cell.large-1.subscription
                                        a(href="#") more details

                                .grid-x.purchase-main.purchase-padd
                                    .cell.large-2.purchase
                                        h2 obituary
                                        p 29th July 2018
                                    .cell.large-9.Obituary
                                        h2 john doe
                                        h3 1934 - 2018 
                                        p Event name goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis

                                    .cell.large-1.subscription
                                        a(href="#") more details
                                
                                .grid-x.purchase-main
                                    .cell.large-2.purchase
                                        h2 subscription
                                        p 29th July 2018
                                    .cell.large-9.Obituary
                                        p Event name goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus
                                    .cell.large-1.subscription
                                        a(href="#") more details

                            //- tab five
                            #panel5.tabs-panel
                                .interest-padd
                                    .interest
                                        p Interested in 
                                            span 32 topics
                                    .unsubscribe
                                        h2 Unsubscribe to all
                                each itam in [1,2,3]                             
                                    .grid-x.checkbox-interest.grid-padding-x.remove-bdr
                                        .cell.large-2
                                            img(src="../assets/image/we.jpg", alt="")
                                        .cell.large-9.remove-john
                                            .remove-comn
                                                h2 by john doe
                                            .remove-comn 
                                                h3 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat 
                                            h4 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec 

                                        .cell.large-1.text-center.remove-red
                                            i.far.fa-heart
                                            h2 remove


        include scripts


