doctype html
html.no-js(lang='en')
    head
        include head

  
    body
        include header
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/ascd.jpg", alt="")
        
        include obituary
        include scripts
        include footer
    