doctype html
html.no-js(lang='en')
    head
        include head

  
    body
        include header
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/Rectangle.png", alt="")
        
        #memoriam
       
            .grid-container

                .grid-x.grid-margin-x
                    .cell.large-2
                    .cell.large-8
                        .grid-x.memoriam
                            ul
                                li
                                    p By John Doe
                                li
                                    p MON, JUL 09 

                        .grid-x.grid-margin-x.memoriam
                            .cell.Premium-obituary-img.large-6.medium-6
                                .Premium-obituary-section(style="background-image: url(../assets/image/sff.jpg)")

                            .cell.Premium-obituary-data.large-6.medium-6
                                .premium-head
                                    h2 john doe
                                .premium-date
                                    ul
                                        li
                                            h2 date of  birth
                                            p June 20, 1950

                                        li
                                            h2 date of  death
                                            p march 03, 2010
                                .premium-heading
                                    p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus.                
                  
                        .grid-x.grid-margin-x.memoriam
                            .cell.Premium-obituary-data.large-6.medium-6
                                .premium-heading
                                    p Heading goes here lorem ipsum dolor sit amet, sectetur elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vel imperdiet                 
                    
                            .cell.Premium-obituary-img.large-6.medium-6
                                .Premium-obituary-section(style="background-image: url(../assets/image/sff.jpg)")

                        .grid-x.grid.memoriam
                            .cell.Premium-obituary-data.large-12.medium-12
                                .premium-heading
                                    p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vel imperdiet mauris. Donec accumsan mollis rutrum. Nam a purus vitae lacus aliquam aliquet vitae in nisl. Phasellus bibendum vulputate lorem, ut ullamcorper ligula feugiat vel. Curabitur neque lacus, sollicitudin porta ex quis, ullamcorper vestibulum quam. Mauris ultrices condimentum purus quis blandit. Etiam dapibus dictum elit sit amet.

                        .grid-x.grid-margin-x.memoriam
                            .cell.Premium-obituary-img.large-6.medium-6
                                .Premium-obituary-section(style="background-image: url(../assets/image/sff.jpg)")

                            .cell.Premium-obituary-data.large-6.medium-6
                                .premium-heading
                                    p Heading goes here lorem ipsum dolor sit amet, sectetur elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vel imperdiet                                      
                        .grix-x.memoriam
                            .date-icon.text-center
                                ul
                                    li
                                        a(href="#")
                                            i.fab.fa-facebook-f
                                    li
                                        a(href="#")
                                            i.fab.fa-twitter
                                    li
                                        a(href="#")
                                            i.fas.fa-envelope
                                    li
                                        a(href="#")
                                            i.fas.fa-share-alt
                            .grid-container
                                .obituary-img(style="background-image: url(../assets/image/sds.jpg)")
                                    
                    .cell.large-2
                            
        include scripts