#obituary
    .obituary 
        h2 obituary
    .grid-container
        .grid-x
            .cell.obituary-search.large-5.medium-5
                p search
                form
                    input(type='text', placeholder='Search..', name='search2')
                    button(type='submit')
                        i.fa.fa-search
            .cell.notice.large-4.medium-4
                ul
                    li
                        a(href="#") Obituaries
                    li
                        a(href="#") In Memorium's
                    li
                        a(href="#") Death Notice's
                    
            .cell.create-obituary.large-3.medium-3
                button Create Obituary
        .atoz
            ul
                li
                    a(href="#") a
                li
                    a(href="#") b
                li
                    a(href="#") c
                li
                    a(href="#") d
                li
                    a(href="#") e
                li
                    a(href="#") f
                li
                    a(href="#") g
                li
                    a(href="#") h
                li
                    a(href="#") i
                li
                    a(href="#") j
                li
                    a(href="#") k
                li
                    a(href="#") l
                li
                    a(href="#") m
                li
                    a(href="#") n
                li
                    a(href="#") o
                li
                    a(href="#") p
                li
                    a(href="#") q
                li
                    a(href="#") r
                li
                    a(href="#") s
                li
                    a(href="#") t
                li
                    a(href="#") u
                li
                    a(href="#") v
                li
                    a(href="#") w
                li
                    a(href="#") x
                li
                    a(href="#") y
                li
                    a(href="#") z
    
        each item in [1,2]
            .grid-x.multi-img.grid-padding-x
                .cell.large-4.medium-4
                    .grid-x.grid-padding-x
                        .cell.large-4.medium-4.small-4
                            img(src="../assets/image/fgd.jpg", alt="")
                        .cell.large-8.medium-8.small-8
                            .john-doe-name
                                h2 john doe
                            .date-multi
                                ul
                                    li
                                        h3 1934-2018
                                    li
                                        a(href="#") obituary
                            .multi-heading
                                p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit
                            .multi-read
                                a(href="#") read more

                .cell.large-4.medium-4
                    .grid-x.grid-padding-x
                        .cell.large-4.medium-4.small-4
                            img(src="../assets/image/fgd.jpg", alt="")
                        .cell.large-8.medium-8.small-8
                            .john-doe-name
                                h2 john doe
                            .date-multi
                                ul
                                    li
                                        h3 1934-2018
                                    li
                                        a(href="#") obituary
                            .multi-heading
                                p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit
                            .multi-read
                                a(href="#") read more

                .cell.large-4.medium-4
                    .grid-x.grid-padding-x
                        .cell.large-4.medium-4.small-4
                            img(src="../assets/image/fgd.jpg", alt="")
                        .cell.large-8.medium-8.small-8
                            .john-doe-name
                                h2 john doe
                            .date-multi
                                ul
                                    li
                                        h3 1934-2018
                                    li
                                        a(href="#") obituary
                            .multi-heading
                                p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit
                            .multi-read
                                a(href="#") read more

            .grid-x.only-detail.grid-padding-x 
                .cell.large-4.medium-4
                        .john-doe-name
                            h2 john doe
                        .date-multi
                            ul
                                li
                                    h3 1934-2018
                                li
                                    a(href="#") In Memoriam
                        .multi-heading
                            p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit.Nam ac erat metus. Etiam volutpat vehicula turpis
                        .multi-read
                            a(href="#") read more

                .cell.large-4.medium-4
                        .grid-x.grid-padding-x
                            .cell.large-4.medium-4.small-4
                                img(src="../assets/image/fgd.jpg", alt="")
                            .cell.large-8.medium-8.small-8
                                .john-doe-name
                                    h2 john doe
                                .date-multi
                                    ul
                                        li
                                            h3 1934-2018
                                        li
                                            a(href="#") obituary
                                .multi-heading
                                    p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit
                                .multi-read
                                    a(href="#") read more

                .cell.large-4.medium-4
                        .john-doe-name
                            h2 john doe
                        .date-multi
                            ul
                                li
                                    h3 1934-2018
                                li
                                    a(href="#") In Memoriam
                        .multi-heading
                            p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit.Nam ac erat metus. Etiam volutpat vehicula turpis
                        .multi-read
                            a(href="#") read more


            .grid-x.multi-img.grid-padding-x
                .cell.large-4.medium-4
                    .grid-x.grid-padding-x
                        .cell.large-4.medium-4.small-4
                            img(src="../assets/image/fgd.jpg", alt="")
                        .cell.large-8.medium-8.small-8
                            .john-doe-name
                                h2 john doe
                            .date-multi
                                ul
                                    li
                                        h3 1934-2018
                                    li
                                        a(href="#") obituary
                            .multi-heading
                                p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit
                            .multi-read
                                a(href="#") read more

                .cell.large-4.medium-4
                    .grid-x.grid-padding-x
                        .cell.large-12.medium-12
                            .john-doe-name
                                h2 john doe
                            .date-multi
                                ul
                                    li
                                        h3 1934-2018
                                    li
                                        a(href="#") In Memoriam
                            .multi-heading
                                p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit.Nam ac erat metus. Etiam volutpat vehicula turpis
                            .multi-read
                                a(href="#") read more

                .cell.large-4.medium-4
                    .grid-x.grid-padding-x
                        .cell.large-4.medium-4.small-4
                            img(src="../assets/image/fgd.jpg", alt="")
                        .cell.large-8.medium-8.small-8
                            .john-doe-name
                                h2 john doe
                            .date-multi
                                ul
                                    li
                                        h3 1934-2018
                                    li
                                        a(href="#") obituary
                            .multi-heading
                                p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit
                            .multi-read
                                a(href="#") read more
           
            .grid-x.only-detail.grid-padding-x 
                each item in [1,2,3]
                    .cell.large-4.medium-4
                            .john-doe-name
                                h2 john doe
                            .date-multi
                                ul
                                    li
                                        h3 1934-2018
                                    li
                                        a(href="#") In Memoriam
                            .multi-heading
                                p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit.Nam ac erat metus. Etiam volutpat vehicula turpis
                            .multi-read
                                a(href="#") read more

        
        .load-more-end 
            button load more