doctype html
html.no-js(lang='en')
    head
        include head

  
    body
        include header
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/ascd.jpg", alt="")

        #obituary-second
            .grid-container
                .grid-x.Premium-obituary.grid-margin-x
                    .cell.Premium-obituary-img.large-6.medium-6
                        .Premium-obituary-section(style="background-image: url(../assets/image/wrv.jpg)")


                    .cell.Premium-obituary-data.large-6.medium-6
                        .premium-head
                            h2 john doe
                        .premium-date
                            ul
                                li
                                    h2 date of  birth
                                    p June 20, 1950

                                li
                                    h2 date of  death
                                    p march 03, 2010
                        .premium-heading
                            p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. 
                                span
                                    | Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vel 
            
            include multimedia-Stories-slider

            .date-icon.text-center
                ul
                    li
                        a(href="#")
                            i.fab.fa-facebook-f
                    li
                        a(href="#")
                            i.fab.fa-twitter
                    li
                        a(href="#")
                            i.fas.fa-envelope
                    li
                        a(href="#")
                            i.fas.fa-share-alt
            .grid-container
                .obituary-img(style="background-image: url(../assets/image/sds.jpg)")
                    
            include scripts
            include footer
