doctype html
html.no-js(lang='en')
    head
        include head
  
    body
        include header
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/Rectangle.png", alt="")

        //- repeat class for polls archive page
       


        #polls-archive
            .wrapper.multimedia-wrapper
                h2
                .carousel
                    div 
                        .grid-container
                            .grid-x
                                .cell.pull-single.large-10
                                    .grid-x
                                        .cell.large-1.polls-h2.medium-2.small-3
                                            h2 category  
                                        .cell.large-1.polls-vote.medium-2.small-3
                                            h2 200
                                                | 
                                                span votes
                                        .cell-large-12.polls-category-vote.polls-single-h
                                            h2 Question goes here lorem sit met, elit. Nam ac erat metus. Etiam volutpat vehicula turpis  metus convallis at. In vitae purus ligula.
                                        .cell.large-12
                                            .polls-radio    
                                                .radio.common-radio
                                                    input#radio-1(name='radio', type='radio', checked='')
                                                    label.radio-label(for='radio-1') Option 1
                                                .radio.common-radio
                                                    input#radio-2(name='radio', type='radio')
                                                    label.radio-label(for='radio-2') Option 2
                                                .radio.common-radio
                                                    input#radio-3(name='radio', type='radio')
                                                    label.radio-label(for='radio-3') Option 3
                                                .radio.common-radio
                                                    input#radio-4(name='radio', type='radio')
                                                    label.radio-label(for='radio-4')  Option 4
                                        .cell.poll-view
                                            a(href="#") view result

                    div 
                        .grid-container
                            .grid-x
                                .cell.pull-single.large-10
                                    .grid-x
                                        .cell.large-1.polls-h2.medium-2.small-3
                                            h2 category  
                                        .cell.large-1.polls-vote.medium-2.small-3
                                            h2 200
                                                | 
                                                span votes
                                        .cell-large-12.polls-category-vote.polls-single-h
                                            h2 Question goes here lorem sit met, elit. Nam ac erat metus. Etiam volutpat vehicula turpis  metus convallis at. In vitae purus ligula.
                                        .cell.large-12
                                            .polls-radio    
                                                .radio.common-radio
                                                    input#radio-1(name='radio', type='radio', checked='')
                                                    label.radio-label(for='radio-1') Option 1
                                                .radio.common-radio
                                                    input#radio-2(name='radio', type='radio')
                                                    label.radio-label(for='radio-2') Option 2
                                                .radio.common-radio
                                                    input#radio-3(name='radio', type='radio')
                                                    label.radio-label(for='radio-3') Option 3
                                                .radio.common-radio
                                                    input#radio-4(name='radio', type='radio')
                                                    label.radio-label(for='radio-4')  Option 4
                                        .cell.poll-view
                                            a(href="#") view result

                    div 
                        .grid-container
                            .grid-x
                                .cell.pull-single.large-10
                                    .grid-x
                                        .cell.large-1.polls-h2.medium-2.small-3
                                            h2 category  
                                        .cell.large-1.polls-vote.medium-2.small-3
                                            h2 200
                                                | 
                                                span votes
                                        .cell-large-12.polls-category-vote.polls-single-h
                                            h2 Question goes here lorem sit met, elit. Nam ac erat metus. Etiam volutpat vehicula turpis  metus convallis at. In vitae purus ligula.
                                        .cell.large-12
                                            .polls-radio    
                                                .radio.common-radio
                                                    input#radio-1(name='radio', type='radio', checked='')
                                                    label.radio-label(for='radio-1') Option 1
                                                .radio.common-radio
                                                    input#radio-2(name='radio', type='radio')
                                                    label.radio-label(for='radio-2') Option 2
                                                .radio.common-radio
                                                    input#radio-3(name='radio', type='radio')
                                                    label.radio-label(for='radio-3') Option 3
                                                .radio.common-radio
                                                    input#radio-4(name='radio', type='radio')
                                                    label.radio-label(for='radio-4')  Option 4
                                        .cell.poll-view
                                            a(href="#") view result
                                        
                    div 
                        .grid-container
                            .grid-x
                                .cell.pull-single.large-10
                                    .grid-x
                                        .cell.large-1.polls-h2.medium-2.small-3
                                            h2 category  
                                        .cell.large-1.polls-vote.medium-2.small-3
                                            h2 200
                                                | 
                                                span votes
                                        .cell-large-12.polls-category-vote.polls-single-h
                                            h2 Question goes here lorem sit met, elit. Nam ac erat metus. Etiam volutpat vehicula turpis  metus convallis at. In vitae purus ligula.
                                        .cell.large-12
                                            .polls-radio    
                                                .radio.common-radio
                                                    input#radio-1(name='radio', type='radio', checked='')
                                                    label.radio-label(for='radio-1') Option 1
                                                .radio.common-radio
                                                    input#radio-2(name='radio', type='radio')
                                                    label.radio-label(for='radio-2') Option 2
                                                .radio.common-radio
                                                    input#radio-3(name='radio', type='radio')
                                                    label.radio-label(for='radio-3') Option 3
                                                .radio.common-radio
                                                    input#radio-4(name='radio', type='radio')
                                                    label.radio-label(for='radio-4')  Option 4
                                        .cell.poll-view
                                            a(href="#") view result


        include scripts
        include footer