doctype html
html.no-js(lang='en')
    head
        include head
  
    body
        include header
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/ascd.jpg", alt="")


        
        //- product-death notice obit page pug because of previous common code
        #become-supporter
            .grid-container
                .grid-x
                    .cell.title.text-center.become-title
                        h2 polls
        
        #polls-archive
            .grid-container
                .grid-x
                    .cell.featured.large-10.polls-archive
                        .featured-polls
                            h2 featured polls 
                .grid-x
                    .cell.large-10.polls-archive
                        .grid-x
                            .cell.large-6.polls-main.medium-6
                                .polls-common-size
                                    .polls-question
                                        h2 Question goes here lorem sit met, elit. Nam ac erat metus. Etiam volutpat vehicula turpis  metus 
                                    .polls-radio    
                                        .radio.common-radio
                                            input#radio-1(name='radio', type='radio', checked='')
                                            label.radio-label(for='radio-1') Option 1
                                        .radio.common-radio
                                            input#radio-2(name='radio', type='radio')
                                            label.radio-label(for='radio-2') Option 2
                                        .radio.common-radio
                                            input#radio-3(name='radio', type='radio')
                                            label.radio-label(for='radio-3') Option 3
                                        .radio.common-radio
                                            input#radio-4(name='radio', type='radio')
                                            label.radio-label(for='radio-4')  Option 4
                                    .grid-x
                                        .cell.large-3.polls-vote.medium-4.small-3
                                            h2 200
                                                | 
                                                span votes
                                        .cell.large-3.polls-result.medium-4.small-3
                                            a view result  

                            .cell.large-6.polls-main.medium-6
                                .polls-common-size
                                    .polls-question
                                        h2 Question goes here lorem sit met, elit. Nam ac erat metus. Etiam volutpat vehicula turpis  metus 
                                    .polls-radio    
                                        .radio.common-radio
                                            input#radio-5(name='radio', type='radio', checked='')
                                            label.radio-label(for='radio-5') Option 1(10%)
                                        .radio.common-radio
                                            input#radio-6(name='radio', type='radio')
                                            label.radio-label(for='radio-6') Option 2(55%)
                                        .radio.common-radio
                                            input#radio-7(name='radio', type='radio')
                                            label.radio-label(for='radio-7') Option 3(15%)
                                        .radio.common-radio
                                            input#radio-8(name='radio', type='radio')
                                            label.radio-label(for='radio-8')  Option 4(20%)
                                    .grid-x
                                        .cell.large-3.polls-vote.medium-4.small-3
                                            h2 200
                                                | 
                                                span votes
                                        .cell.large-3.polls-result.medium-4.small-3
                                            a view result  



                        .grid-x
                            .cell.polls-category
                                select
                                    option(value='husker') category 
                                    option(value='starbuck') january
                                    option(value='hotdog') february 
                                    option(value='apollo') march
                            each item in [1,2,3,4,5,6,7,8,9]
                                .cell.large-12.medium-12
                                    .grid-x.polls-bdr
                                        .cell.large-1.polls-h2.medium-2.small-3
                                            h2 category  
                                        .cell.large-1.polls-vote.medium-2.small-3
                                            h2 200
                                                | 
                                                span votes
                                        .cell.large-2.polls-result.medium-2.small-4
                                            a View this poll   
                                        .cell-large-12.polls-category-vote
                                            h2 Question goes here lorem sit met, elit. Nam ac erat metus. Etiam volutpat vehicula turpis  metus convallis at. In vitae purus ligula. Donec suscipit tellus eu
                            .cell.pull-load.text-center
                                button load more

        include scripts
        include footer