#premiere-event  
    .section-two   
        .grid-container
            .grid-x
                .cell.large-4.event-first.medium-4
                    .premier
                        .premier-hh
                            .heading premiere event
                        .premier-img(style="background-image: url(../assets/image/sd.jpg)")
                        .premier-time
                            i.far.fa-clock
                            p 6:46 A.M &nbsp; &nbsp;&nbsp; MON, JUL 09
                        .premier-p
                            i.fas.fa-map-marker-alt
                            p Santa Barbara
                        .premier-head
                            h2 Heading goes here is is sit th amet, consectetur elit adipiscing elit. Nam ac erat 
                        
                            .premier.premier-padd
                        .premier-hh
                            h2 bets bets
                        .premier-img(style="background-image: url(../assets/image/fv.jpg)")
                        .premier-time
                            i.far.fa-clock
                            p 6:46 A.M &nbsp; &nbsp;&nbsp; MON, JUL 09
                        .premier-p
                            i.fas.fa-map-marker-alt
                            p Santa Barbara
                        .premier-head
                            h2 Heading goes here is is sit th amet, consectetur elit adipiscing elit. Nam ac erat 
                        .premiere-sm-img-main
                            .premiere-sm-img
                                .premiere-bg-img(style="background-image: url(../assets/image/sc.jpg)")
                            .premiere-sm-p
                                p Heading goes here is the lorem ipsum dolor sit is

                        .premiere-sm-img-main
                            .premiere-sm-img
                                .premiere-bg-img(style="background-image: url(../assets/image/sc.jpg)")
                            .premiere-sm-p
                                p Heading goes here is the lorem ipsum dolor sit is
                        .premiere-btm
                            .premiere-btn
                                button add events
                            .premiere-a
                                a(href="#") full calendar
                    .premier.premier-two
                        .premier-two-bg(style="background-image: url(../assets/image/group.jpg)")



                .cell.large-4.event.event-center.medium-4
                    .center-img(style="background-image: url(../assets/image/we.jpg)")
                    .center.heading 
                        h2 Heading goes here lorem sit amet, sectetur elit. Nam ac erat
                        .side-category
                            ul
                                li.eloq
                                    a(href="#") category
                                li  
                                    a(href="#") by john doe
                    .sponsores-h.text-left.text-padd
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .side-category.btm-border
                        ul
                            li.eloq
                                a(href="#") category
                            li  
                                a(href="#") by john doe
                    
                    .sponsores-h.text-left.text-padd
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .side-category.btm-border
                        ul
                            li.eloq  
                                a(href="#") category
                            li  
                                a(href="#") by john doe

                    .sponsores-h.text-left.text-padd
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .side-category.btm-border
                        ul
                            li.eloq  
                                a(href="#") category
                            li  
                                a(href="#") by john doe

                    .sponsores-h.text-left.text-padd
                        h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                    .cell.side-category.btm-border
                        ul
                            li.eloq  
                                a(href="#") category
                            li  
                                a(href="#") by john doe

                    .center-img(style="background-image: url(../assets/image/ww.jpg)")
                    .center.heading.center-bdr
                        h2 Heading goes here lorem sit amet, sectetur elit. Nam ac erat
                        .side-category
                            ul
                                li.eloq  
                                    a(href="#") category
                                li  
                                    a(href="#") by john doe

                                
                .cell.large-4.event-last.medium-4
                    .center.heading.last-heading
                        h2 Heading goes here lorem sit amet, sectetur elit. Nam ac erat
                        .last-pp
                            p Heading goes here lorem ipsum dolor sit amet, 
                        .side-category
                            ul
                                li.eloq  
                                    a(href="#") category
                                li  
                                    a(href="#") by john doe
                        .last-img(style="background-image: url(../assets/image/ef.jpg)")
            
                    .center.heading.last-heading
                        h2 Heading goes here lorem sit amet, sectetur elit. Nam ac erat
                   
                    .side-category
                        ul
                            li.eloq  
                                a(href="#") category
                            li  
                                a(href="#") by john doe
                        .cover-story
                            button cover story
                    .center.heading.last-heading
                        h2 Heading goes here lorem sit amet, sectetur elit. Nam ac erat
                        .sponsores-h.text-left.text-padd
                        .last-pp
                            p Heading goes here lorem ipsum dolor sit amet, 
                        .side-category
                            ul
                                li.eloq  
                                    a(href="#") category
                                li  
                                    a(href="#") by john doe
                        .last-img(style="background-image: url(../assets/image/we.jpg)")        
                        .last-column-img(style="background-image: url(../assets/image/group.jpg)")        

            .grid-x.add-image
                .cell.large-4
                .cell.large-8.add-image-cls
                    .ad-img(style="background-image: url(../assets/image/Group.jpg)")