#multimedia-Stories-slider 
    .slider
        .grid-container
            .cell
                .slider-content-h
                    .row
                        .col-md-12.heroSlider-fixed
                            .overlay
                            // Slider
                            .slider.responsive
                                .slider-main
                                    .slider-img
                                        img(src="../assets/image/we.jpg", alt="")

                                    .premier-time
                                        i.far.fa-clock
                                        p 6:46 A.M &nbsp; &nbsp;&nbsp; MON, JUL 09
                                    .premier-p
                                        i.fas.fa-map-marker-alt
                                        p Santa Barbara
                                    .slider-content-h
                                        h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                                
                                .slider-main
                                    .slider-img
                                        img(src="../assets/image/we.jpg", alt="")

                                    .premier-time
                                        i.far.fa-clock
                                        p 6:46 A.M &nbsp; &nbsp;&nbsp; MON, JUL 09
                                    .premier-p
                                        i.fas.fa-map-marker-alt
                                        p Santa Barbara
                                    .slider-content-h
                                        h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                            
                                .slider-main
                                    .slider-img
                                        img(src="../assets/image/we.jpg", alt="")

                                    .premier-time
                                        i.far.fa-clock
                                        p 6:46 A.M &nbsp; &nbsp;&nbsp; MON, JUL 09
                                    .premier-p
                                        i.fas.fa-map-marker-alt
                                        p Santa Barbara
                                    .slider-content-h
                                        h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                            
                                .slider-main
                                    .slider-img
                                        img(src="../assets/image/we.jpg", alt="")

                                    .premier-time
                                        i.far.fa-clock
                                        p 6:46 A.M &nbsp; &nbsp;&nbsp; MON, JUL 09
                                    .premier-p
                                        i.fas.fa-map-marker-alt
                                        p Santa Barbara
                                    .slider-content-h
                                        h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                            
                                .slider-main
                                    .slider-img
                                        img(src="../assets/image/we.jpg", alt="")

                                    .premier-time
                                        i.far.fa-clock
                                        p 6:46 A.M &nbsp; &nbsp;&nbsp; MON, JUL 09
                                    .premier-p
                                        i.fas.fa-map-marker-alt
                                        p Santa Barbara
                                    .slider-content-h
                                        h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                            
                                .slider-main
                                    .slider-img
                                        img(src="../assets/image/we.jpg", alt="")

                                    .premier-time
                                        i.far.fa-clock
                                        p 6:46 A.M &nbsp; &nbsp;&nbsp; MON, JUL 09
                                    .premier-p
                                        i.fas.fa-map-marker-alt
                                        p Santa Barbara
                                    .slider-content-h
                                        h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                            
                                .slider-main
                                    .slider-img
                                        img(src="../assets/image/we.jpg", alt="")

                                    .premier-time
                                        i.far.fa-clock
                                        p 6:46 A.M &nbsp; &nbsp;&nbsp; MON, JUL 09
                                    .premier-p
                                        i.fas.fa-map-marker-alt
                                        p Santa Barbara
                                    .slider-content-h
                                        h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                            
                                .slider-main
                                    .slider-img
                                        img(src="../assets/image/we.jpg", alt="")

                                    .premier-time
                                        i.far.fa-clock
                                        p 6:46 A.M &nbsp; &nbsp;&nbsp; MON, JUL 09
                                    .premier-p
                                        i.fas.fa-map-marker-alt
                                        p Santa Barbara
                                    .slider-content-h
                                        h2 Heading goes here lorem ipsum dolor sit amet, is consectpurus et eleifend 
                            
                            // control arrows
                            .prev
                                span.fa.fa-angle-left(aria-hidden='true')
                            .next
                                span.fa.fa-angle-right(aria-hidden='true')