#Print-Issue-slider
  .slider
    .grid-container
        .cell
        .slider-content-h
            .slider-bdr
            h2 The Print Issue
            .special-issued
                .special
                    p special issued 
                .cover
                    p cover stories
            .row
            .col-md-12.heroSlider-fixed
                .overlay
                // Slider
                .slider.responsive
                    .slider-main
                        .slider-img
                            img(src="../assets/image/hdf.jpg", alt="")
                    .slider-main
                        .slider-img
                            img(src="../assets/image/hdf.jpg", alt="")
                    .slider-main
                        .slider-img
                            img(src="../assets/image/hdf.jpg", alt="")
                    .slider-main
                        .slider-img
                            img(src="../assets/image/hdf.jpg", alt="")
                    .slider-main
                        .slider-img
                            img(src="../assets/image/hdf.jpg", alt="")
                    .slider-main
                        .slider-img
                            img(src="../assets/image/hdf.jpg", alt="")
                    .slider-main
                        .slider-img
                            img(src="../assets/image/hdf.jpg", alt="")
                    .slider-main
                        .slider-img
                            img(src="../assets/image/hdf.jpg", alt="")

                // control arrows
                .prev
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                .next
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')

            .slider-more-multimedia-Stories
                p More Special Issues