doctype html
html.no-js(lang='en')
    head
        include head
  
    body
        include header
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/Rectangle.png", alt="")


        
        //- product-single page pug 
        #become-supporter
            .grid-container
                .grid-x
                    .cell.title.text-center.become-title
                        h2 BECOME A SUPPORTER

            .grid-container
                .grid-x
                    .cell.large-10.become-support.medium-10
                        //- one time fee
                        .grid-x
                            .cell.large-12.become-support
                                .grid-x
                                    .cell.large-12  
                                        .one-time
                                            h2  One-time fee
                                    .cell.large-4.medium-4.small-4  
                                        .select-plan-main    
                                            .select-number
                                                h2 $ 10
                                            .select-year
                                                h2 per year
                                            .select-plan
                                                a(href="#") Select plan
                                    .cell.large-4.text-center.medium-4.small-4   
                                        .select-plan-main    
                                            .select-number
                                                h2 $ 10
                                            .select-year
                                                h2 per year
                                            .select-plan
                                                a(href="#") Select plan
                                    .cell.large-4.text-right.medium-4.small-4   
                                        .select-plan-main    
                                            .select-number
                                                h2 $ 10
                                            .select-year
                                                h2 per year
                                            .select-plan
                                                a(href="#") Select plan


                            .cell.large-12.become-support
                                .grid-x
                                    .cell.large-12  
                                        .one-time.monthly-time
                                            h2  monthly payment
                                    .cell.large-4.medium-4.small-4   
                                        .select-plan-main    
                                            .select-number
                                                h2 $ 10
                                            .select-year
                                                h2 per Month
                                            .select-plan
                                                a(href="#") Select plan
                                    .cell.large-4.text-center.medium-4.small-4  
                                        .select-plan-main    
                                            .select-number
                                                h2 $ 10
                                            .select-year
                                                h2 per Month
                                            .select-plan
                                                a(href="#") Select plan
                                    .cell.large-4.text-right.medium-4.small-4   
                                        .select-plan-main    
                                            .select-number
                                                h2 $ 10
                                            .select-year
                                                h2 per Month
                                            .select-plan
                                                a(href="#") Select plan
                        
                        //- ad free experience
                        .grid-x.ad-free-part
                            .cell.large-12
                                .ad-free-h
                                    h2 Ad Free Experience?
                                .ad-free-p.ad-free-padd
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque.  sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vel imperdiet mauris. Donec accumsan mollis rutrum. Nam a purus vitae lacus  in nisl. Phasellus bibendum vulputate lorem, ut ullamcorper ligula feugiat vel. Curabitur neque lacus, porta ex quis, ullamcorper vestibulum quam. Mauris ultrices purus quis blandit. Etiam dapibus dictum elit sit amet volutpat.
                                .ad-free-p.ad-free-p2
                                    p Vestibulum id scelerisque orci. Nunc volutpat condimentum augue, vitae tempor urna tempus vel. risus at nisi aliquam molestie nec eget nibh. Pellentesque maximus euismod nibh. Suspendisse luctus mauris quis molestie lorem dictum sed. In eget velit vitae elit consequat finibus. Duis ac dignissim neque. Vestibulum 

                            .cell.large-12
                                .ad-free-h
                                    h2 Support SBI Community
                                .ad-free-p.ad-free-padd
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque.  sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vel imperdiet mauris. Donec accumsan mollis rutrum. Nam a purus vitae lacus  in nisl. Phasellus bibendum vulputate lorem, ut ullamcorper ligula feugiat vel. Curabitur neque lacus, porta ex quis, ullamcorper vestibulum quam. Mauris ultrices purus quis blandit. Etiam dapibus dictum elit sit amet volutpat.
                                .ad-free-p.ad-free-p2
                                    p Vestibulum id scelerisque orci. Nunc volutpat condimentum augue, vitae tempor urna tempus vel. risus at nisi aliquam molestie nec eget nibh. Pellentesque maximus euismod nibh. Suspendisse luctus mauris quis molestie lorem dictum sed. In eget velit vitae elit consequat finibus. Duis ac dignissim neque. Vestibulum 

                            .cell.large-12
                                .ad-free-h
                                    h2 Exclusive Access
                                .ad-free-p.ad-free-padd
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque.  sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vel imperdiet mauris. Donec accumsan mollis rutrum. Nam a purus vitae lacus  in nisl. Phasellus bibendum vulputate lorem, ut ullamcorper ligula feugiat vel. Curabitur neque lacus, porta ex quis, ullamcorper vestibulum quam. Mauris ultrices purus quis blandit. Etiam dapibus dictum elit sit amet volutpat.
                                .ad-free-p.ad-free-p2
                                    p Vestibulum id scelerisque orci. Nunc volutpat condimentum augue, vitae tempor urna tempus vel. risus at nisi aliquam molestie nec eget nibh. Pellentesque maximus euismod nibh. Suspendisse luctus mauris quis molestie lorem dictum sed. In eget velit vitae elit consequat finibus. Duis ac dignissim neque. Vestibulum 
                                    
        include scripts
        include footer 