
script(src="../node_modules/jquery/dist/jquery.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js')
script(src="../node_modules/foundation-sites/dist/js/foundation.min.js")
script(src="../vendors/slick/slick.js") 
script(src="../node_modules/chart.js/dist/Chart.min.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js").
script(src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.min.js")
script(src="../js/app.js")

