#video-photo-archive
    .grid-container
        .grid-x
            .cell.showing-result.large-6.medium-6.small-6.showing-result-first
                .filter 
                    i.fas.fa-filter 
                    h2 filter
#advance-search
    .grid-container
        .grid-x.advance-search
            .cell
                .grid-x.advance-search-inner
                    .cell.advance-search-key.large-6.medium-6
                        h2  Keyword
                        label
                            input(type='text', placeholder='search')

                    .cell.advance-search-label.large-6.medium-6
                        label
                            select
                                option(value='category') Select category
                                option(value='starbuck') Starbuck
                                option(value='hotdog') Hot Dog
                                option(value='apollo') Apollo

                .grid-x
                    .cell.large-8.advance-input
                        h1 date:
                        form.advance-search-label-padd from: 
                            input(type='date', name='from')

                        form to: 
                            input(type='date', name='from')

                        form.open-search 
                            i.fa.fa-search
                            input(type='text', placeholder='Search', name='search2')
                                                        
        