.grid-container
    .section.grid-x
        .section-part.cell.large-12.text-center
            img(src="../assets/image/Rectangle.png", alt="")

.grid-container
    .breaking.grid-x
        .breaking-one
            p breaking-news
        .breaking-two
            p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat metus.
        .breaking-three
            p empty

.grid-container
    .heading-main.grid-x
        .cell.large-4.heading-left.text-center
            .cell
                .news
                    p recent news
                .stories
                    button top stories

            .cell.sponsored 
                .sponsores-h.bld.text-left
                    h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                .sponsores-t
                    .sponsores-left.comn-p
                        p by john doe
                    .sponsores-right        
                        button sponsored

            .cell.sponsored 
                .sponsores-h.text-left
                    h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                .sponsores-t.text-left.comn-p
                        p by john doe

            .cell.sponsored 
                .sponsores-h.text-left
                    h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                .sponsores-t.text-left.comn-p
                        p by john doe

            .cell.sponsored 
                .sponsores-h.bld.text-left
                    h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                .sponsores-t
                    .sponsores-left.comn-p
                        p by john doe
                    .sponsores-right     
                        button sponsored
            .cell.sponsored 
                .sponsores-h.text-left
                    h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat 
                .sponsores-t.text-left.comn-p
                        p by john doe


        .cell.large-8.heading-right
            .grid-x
                .cell     
                    .side-images(style="background-image: url(../assets/image/imd.jpg)")
                .side-categpry
                    ul
                        li  
                            a(href="#") category
                        li  
                            a(href="#") by john doe
                .cell.center-categpry
                    h2 Heading goes here lorem ipsum sit
                .cell.bottom-categpry
                    p Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor