.slider-single
  
    .site
    #sponsored
    .slider-heading
        .slick-slide
            img(src="../assets/image/imd.jpg", alt="")
        .slick-slide
            img(src="../assets/image/imd.jpg", alt="")
        .slick-slide
            img(src="../assets/image/imd.jpg", alt="")