#sponsored 
    .grid-x 
        .cell.large-1.sponsored-list-icon.medium-1.small-1
            ul
                li
                    a(href="#")
                        i.fab.fa-facebook-f
                li
                    a(href="#")
                        i.fab.fa-twitter
                li
                    a(href="#")
                        i.fas.fa-file-invoice
                li
                    a(href="#")
                        i.fas.fa-info
                li
                    a(href="#")
                        i.fas.fa-envelope
        .cell.large-11.medium-11.small-11
            //- top content
            .sponsored-detail.grid-x
                .sponsored-detail-li.cell
                    li.category-family
                        a(href="#") category
                    li 
                        a(href="#") by john doe
                    li 
                        a(href="#") mon, jul 09
                .sponsored-only.text-right.cell
                    button sponsored

            .sponsored-heading.sponsored-hide
                h2 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing
            .sponsored-subheading
                h2 Sub heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue

            //- slider
            .site
            .slider-heading
                .slick-slide
                    img(src="../assets/image/imd.jpg", alt="")
                .slick-slide
                    img(src="../assets/image/imd.jpg", alt="")
                .slick-slide
                    img(src="../assets/image/imd.jpg", alt="")

            //- after slider content
            .sponsored-heading-p
                p Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum
                h2 photo cradit
            .sponsored-head-h2
                h2 Lorem ipsum dolor header here
            .sponsored-head-pp
                p Lorem ipsum dolor sit amet elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae  
            .sponsored-head-main
                h2 Lorem ipsum dolor header here
            .sponsored-head-center
                .grid-x.grid-padding-x.align-center
                    .cell.medium-6.large-6.sponsored-head-p
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                    .cell.medium-6.large-6.sponsored-head-add
                        img(src="../assets/image/group.jpg", alt="")
