doctype html
html.no-js(lang='en')
    head
        include head
  
    body
        include header
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/ascd.jpg", alt="")


        #submit-event   
            .grid-container
                .grid-x
                    .cell.large-8.submit-event-main
                        //- create event grid   
                        .grid-x
                            .cell.title.text-center
                                h2 create event
                        .grid-x
                            .cell.submit-title
                                .intro-title-main
                                    h2 Intro content headline here
                                .intro-title-p
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor 
                        
                        //- basic details grid
                        .grid-x.comn-submit-lable
                            .cell
                                .intro-title-h
                                    h2 Basic details
                            .cell
                                .event-title
                                    h3 Event Title
                                label
                                    input(type='text', placeholder='')

                                .event-title
                                    h3 discription
                                label.event-lables
                                    textarea(placeholder='')

                            .cell
                                .grid-x.submit-category-event 
                                    .cell.large-6.submit-category-padd
                                        .event-title
                                            h3 category
                                        label
                                            select
                                                option(value='husker') select category
                                                option(value='starbuck') Starbuck
                                                option(value='hotdog') Hot Dog
                                                option(value='apollo') Apolloc

                                    .cell.large-6.submit-category-padd
                                        .event-title
                                            h3 admissoin
                                        .page-content
                                            button.launcher $10
                                        #modal.modal(tabindex='-1', role='dialog')
                                            .modal-dialog(role='document')
                                                button.modal-close(type='button', tabindex='-1') ×
                                                h2 
                                                    .grid-x
                                                        .cell.admission-dropdown  
                                                            form(action='#')
                                                                p
                                                                    input#test1(type='radio', name='radio-group', checked='')
                                                                    label(for='test1') free
                                                        .cell.admission-dropdown.dropdown-second
                                                            form(action='#')
                                                                p
                                                                    input#test2(type='radio', name='radio-group')
                                                                    label(for='test2')
                                                                        input#myNumber(type='number', value='2')
                                                                        span $
                                                        .cell.admission-dropdown  
                                                            form(action='#')  
                                                                p
                                                                    input#test3(type='radio', name='radio-group')
                                                                    label(for='test3') free
                                                                        input#myNumber-two(type='number', value='2')
                                                                        
                                                        .cell.admission-dropdown 
                                                            .grid-x
                                                                .cell.admission-input.large-7.medium-7.small-7
                                                                    input(type='text', name='LastName', value='')
                                                                .cell.admission-submit.large-5.medium-5.small-5
                                                                    button other
                
                            .cell 
                                .grid-x
                                    .event-title
                                        h3 Featured image
                                    .cell.submit-file
                                        input#fileupload-example-3(type='file')
                        //- event location grid
                        .grid-x.comn-submit-lable 
                            .cell
                                .intro-title-h
                                    h2 Event Location
                            .cell
                                .event-title
                                    h3 address
                                label
                                    textarea(placeholder='')

                        //- event date & time grid
                        .grid-x.comn-submit-lable
                            .cell
                                .intro-title-h
                                    h2 Event date & time
                            .cell
                                .event-title.date-picker.event.grid-x.grid-margin-x
                                    .cell.large-6
                                        .event-title  
                                            h3 date
                                        .grid-x.grid-margin-x
                                            .cell.large-6.date-time-background
                                                h3 from 
                                                br
                                                input(type='date', name='')
                                                i.fas.fa-calendar-alt
                                            .cell.large-6.date-time-background
                                                h3 to 
                                                br
                                                input(type='date', name='')
                                                i.fas.fa-calendar-alt

                                    .cell.large-6
                                        .event-title  
                                            h3 time
                                        .grid-x.grid-margin-x
                                            .cell.large-6.date-time-background
                                                h3 from
                                                br
                                                input(type='time')
                                                i.far.fa-clock
                                            .cell.large-6.date-time-background
                                                h3 End 
                                                br
                                                input(type='time')
                                                i.far.fa-clock
                                    .cell
                                        .add-link-date
                                            h4 add date
                        //-  event links
                        .grid-x.comn-submit-lable
                            .cell
                                .intro-title-h
                                    h2 Event links  
                                .event-title
                                    h3 ticket url
                                input#url(type='url', name='url', placeholder='' , pattern='https://.*', size='30', required='')
                                .event-title
                                    h3 enter url
                                input#url(type='url', name='url', placeholder='' , pattern='https://.*', size='30', required='')
                                .event-title
                                    h3 Additional Media URL 
                                input#url(type='url', name='url', placeholder='' , pattern='https://.*', size='30', required='')

                                .add-link-date
                                    h4 add links
                                input#fruit1(type='checkbox', name='fruit-1', value='Apple')
                                label(for='fruit1') Sponsor this Event

                            .grid-x.submit-event-btn
                                .cell.text-center.large-12
                                    button submit event

        include scripts
        include footer