doctype html
html.no-js(lang='en')
    head
        include head

    body
        include header
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/ascd.jpg", alt="")

                #tv-listing
                    .grid-x.align-middle.tv-listing
                        .small-12.cell.large-12.text-center
                            h2 iframe
                   
                    .section.grid-x
                        .tv-img.cell.large-12.text-center
                            img(src="../assets/image/Rectangle.png", alt="")
        include scripts
        include footer