doctype html
html.no-js(lang='en')
    head
        include head
  
    body
        include header
        include head
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/Rectangle.png", alt="")
                .section-latest
                        h2 LATEST MULTIMEDIA    
            include video-slider

        #video-photo-archive
            .grid-container     
                .archive-img(style="background-image: url(../assets/image/sds.jpg)")
            .grid-container
                .grid-x.type-category
                    .cell.archive-search.large-6.medium-6
                        form
                            input(type='text', placeholder='Search..', name='search2')
                            button(type='submit')
                                i.fa.fa-search
                    .cell.archive-notice.large-3.medium-3
                        label
                            select
                                option(value='husker') type
                                option(value='starbuck') Starbuck
                                option(value='hotdog') Hot Dog
                                option(value='apollo') Apollo


                    .cell.archive-notice.large-3.medium-3
                        label
                            select
                                option(value='husker') category
                                option(value='starbuck') Starbuck
                                option(value='hotdog') Hot Dog
                                option(value='apollo') Apollo

    
            include many-images-contain
            .archive-load-more
                button load more
    include scripts
    include footer