#date-birth   
    .grid-container
        .john-doe-birth
            h2 john doe
        .grid-x
            .cell.date-birth.small-6.large-3.medium-3
                h2 date of birth
                p june 20, 1950
            .cell.date-birth.small-6.large-3.medium-3
                h2 date of birth
                p june 20, 1950
            .cell.date-birth.small-6.large-3.medium-3
                h2 age of death
                p 60
            .cell.date-birth.small-6.large-3.medium-3
                h2 city of death
                p santa barbara
        .grid-x.birth-heading
            .date-heading
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .date-heading-two
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        .date-icon.text-center
            ul
                li
                    a(href="#")
                        i.fab.fa-facebook-f
                li
                    a(href="#")
                        i.fab.fa-twitter
                li
                    a(href="#")
                        i.fas.fa-envelope
                li
                    a(href="#")
                        i.fas.fa-share-alt
            
           
            

