#john-doe
    .grid-x.grid-padding-x.john-doe
        .cell.large-4.medium-4.john-doe-img
            img(src="../assets/image/rge.png", alt="")
        .cell.large-8.medium-8.john-doe-heading
            .john-doe-hh
                h2 john-doe
            .john-doe-title
                .john-doe-title-main
                    p title
                .john-doe-symbol
                    i.fab.fa-facebook-f
                    i.fab.fa-twitter
                    i.fas.fa-envelope
            .john-doe-p
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit
            .john-doe-a
                a(href="#") read more