#matrics-charts
    .grid-x.matrics-charts.grid-padding-x.text-center
        .cell.large-6.medium-6.household
            canvas#myBarChart
            h2 
                span household 
                | income

        .cell.large-6.medium-6.household
            canvas#myPieChart
            h2 
                span Gender 
                | percentage
            
        .cell.large-6.medium-6.household
            canvas#myBarChart-t
            h2 
                span Age 
                | breakdown

        .cell.large-6.medium-6.household
            canvas#myPieChart-t
            h2 
                span loyalty 
                
        .cell.large-12.medium-12.household
            canvas#myBarChart-tt
            h2 
                span demographics 
        .media-kit-border
            .media-kit
                .media-title
                    i.fas.fa-cloud-download-alt
                    h2 Download Complete Media Kit
                form
                    input(type="text", name="name", placeholder="name")
                    input(type="text", name="email", placeholder="email")
                    input(type="text", name="name", placeholder="orgination")

                .media-download
                    i.fas.fa-download
                    a(href='', download='')  download now