//- rates and information page html
#rates-and-information
    .rates
        h2 rates-and-information

    .grid-x.rates-padding.grid-padding-x
        .cell.large-4.medium-4
            .grid-x.demographic-padding.grid-padding-x
                .cell.demographic-img.large-5.medium-5.small-4
                    img(src="../assets/image/pie chart.png", alt="")
                .cell.demographic-part.large-7.medium-7.small-8
                    h2 Demographic
                    a(href="#") download
                
        .cell.large-4.medium-4
            .grid-x.demographic-padding.grid-padding-x
                .cell.demographic-img.large-5.medium-5.small-4
                    img(src="../assets/image/tef.png", alt="")
                .cell.demographic-part.large-7.medium-7.small-8
                    h2 2018 Special Issue Calendar
                    a(href="#") download
            
        .cell.large-4.medium-4
            .grid-x.demographic-padding.grid-padding-x
                .cell.demographic-img.large-5.medium-5.small-4
                    img(src="../assets/image/tge.png", alt="")
                .cell.demographic-part.large-7.medium-7.small-8
                    h2 online Advertising
                    a(href="#") download
        .cell.large-4.medium-4
            .grid-x.demographic-padding.grid-padding-x
                .cell.demographic-img.large-5.medium-5.small-4
                    img(src="../assets/image/print advertise.png", alt="")
                .cell.demographic-part.large-7.medium-7.small-8
                    h2 print Advertising
                    a(href="#") download
        .cell.large-4.medium-4
            .grid-x.demographic-padding.grid-padding-x
                .cell.demographic-img.large-5.medium-5.small-4
                    img(src="../assets/image/tdf.png", alt="")
                .cell.demographic-part.large-7.medium-7.small-8
                    h2 classified Advertising
                    a(href="#") download

    .rates
        h2 Print Deadlines
    .grid-x.print-deadlines
        .cell.large-6.medium-6.print-deadlines-h
            h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor 
        .cell.large-6.medium-6.print-advice-main
            .grid-x.grid-padding-x.grid-padding-y
                .cell.large-6.medium-6.print-advice.small-6
                    li
                        p Legal advertising
                    li
                        p display adds
                    li
                        p line adds
                .cell.large-6.medium-6.print-time.small-6
                    li
                        p friday 5pm
                    li
                        p friday 5pm
                    li
                        p friday 5pm

    .request-information
        .request
            i.fas.fa-retweet 
            h2 Request Information
                        
            form    
                input(type="text", name="name", placeholder="name")
                input(type="text", name="email", placeholder="email")
                input(type="text", name="name", placeholder="orgination")
                label
                    select
                        option(value='husker') Type Of Advertising
                        option(value='starbuck') Starbuck
                        option(value='hotdog') Hot Dog
                        option(value='apollo') Apollo
            
            button submit


