#related   
    .related-h
        h2 Lorem ipsum dolor header
    .related-p
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vel imperdiet mauris. Donec accumsan mollis rutrum. Nam a purus vitae lacus aliquam aliquet vitae in nisl. Phasellus bibendum vulputate lorem, ut ullamcorper ligula feugiat vel. Curabitur neque lacus, sollicitudin porta ex quis,
    .related-post
        p related post
    .grid-x.grid-padding-x.sponsored-grd
        .cell.medium-4.sponsored-cell 
            img(src="../assets/image/ef.jpg", alt="")
            .sponsoreed-img-p
                p #[span Heading]  goes here sit amet, consectetur  elit.
        .cell.medium-4.sponsored-cell
            img(src="../assets/image/sd.jpg", alt="")
            .sponsoreed-img-p
                p #[span Heading]  goes here sit amet, consectetur  elit.
        .cell.medium-4.sponsored-cell
            img(src="../assets/image/we.jpg", alt="")
            .sponsoreed-img-p
                p #[span Heading]  goes here sit amet, consectetur  elit.
        
        .related-header-content-h
            h2 Lorem ipsum dolor header
        .related-header-content-p
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vel imperdiet mauris. Donec 

    .grid-x.grid-padding-x.sponsored-grid-two
        .cell.medium-8.sponsored-grid-two-cls
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra 
        .cell.medium-4.sponsored-grid-two-cls 
            img(src="../assets/image/group.jpg", alt="")

    .grid-x.grid-padding-x.sponsored-grid-three
        .cell.medium-4.sponsored-grid-three-cls 
            img(src="../assets/image/sd.jpg", alt="")
        .cell.medium-8.sponsored-grid-three-cls
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae purus ligula. Donec suscipit tellus eu sagittis pellentesque. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent

    .grid-x.grid-padding-x.sponsored-grid-four
        .cell.medium-8.sponsored-grid-four-cls
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. Donec suscipit tellus eu sag. Curabitur sit amet nisl arcu. In id quam porttitor augue porttitor bibendum sed vitae diam. Morbi pharetra odio eget neque auctor fermentum. Class aptent taciti sociosqu ad litora torquent
        .cell.medium-4.sponsored-grid-four-cls 
            img(src="../assets/image/ef.jpg", alt="")
    .listing-header
        h2 Lorem ipsum dolor header here
    .grid-x.grid.sponsored-listing
        .cell.medium-6.large-6.sponsored-listing-cls
            .sponsored-listing-cls-one
                ul 
                    li 
                        p Lorem ipsum dolor sit amet, consectetur
                    li 
                        p Lorem ipsum dolor sit amet, consectetur
                    li 
                        p Lorem ipsum dolor sit amet, consectetur
            .sponsored-listing-cls-two
                ul
                    li 
                        p Lorem ipsum dolor sit amet, consectetur
                    li 
                        p Lorem ipsum dolor sit amet, consectetur
                    li 
                        p Lorem ipsum dolor sit amet, consectetur
        .cell.medium-6.large-6.sponsored-listing-cls
            .sponsored-listing-cls-one
                ul 
                    li 
                        p Lorem ipsum dolor sit amet, consectetur
                    li 
                        p Lorem ipsum dolor sit amet, consectetur
                    li 
                        p Lorem ipsum dolor sit amet, consectetur
            .sponsored-listing-cls-two
                ul
                    li 
                        p Lorem ipsum dolor sit amet, consectetur
                    li 
                        p Lorem ipsum dolor sit amet, consectetur
                    li 
                        p Lorem ipsum dolor sit amet, consectetur