doctype html
html.no-js(lang='en')
    head
        include head
  
    body
        include header
        include head
        #breaking-news
            .grid-container
                .section.grid-x
                    .section-part.cell.large-12.text-center
                        img(src="../assets/image/Rectangle.png", alt="")

        #search-result
            .grid-container
                .grid-x
                    .cell.large-2.search-media
                    .cell.large-8.search-media-second
                        .search-head-h
                            h2 search
                        .search-heading-h
                            h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula turpis, ultricies volutpat metus convallis at. In vitae
                    .cell.large-2

            
            .grid-container
                .grid-x.type-category
                    .cell.archive-search.large-6.medium-6
                        p search
                        form
                            input(type='text', placeholder='Search..', name='search2')
                            button(type='submit')
                                i.fa.fa-search
                    .cell.archive-notice.large-3.medium-3
                        .dropdown
                            button.dropbtn
                                | type 
                                i.fa.fa-caret-down
                            .dropdown-content
                                a(href='#') Link 1
                                a(href='#') Link 2
                                a(href='#') Link 3

                    .cell.archive-create.large-3.medium-3
                        .dropdown
                            button.dropbtn
                                | category 
                                i.fa.fa-caret-down
                            .dropdown-content
                                a(href='#') Link 1
                                a(href='#') Link 2
                                a(href='#') Link 3
                .grid-x
                    .cell.showing-result.large-6.medium-6
                        h3 
                        | Showing 5462 results for 
                        span keyword
                        
                    .cell.showing-result.large-6.medium-6.text-right
                        .filter 
                           i.fas.fa-filter 
                           h2 filter
                        h3 Advanced search

            .grid-container
                .grid-x.search-main-cls
                    .cell.large-1.medium-2

                    .cell.large-10.medium-8
                            .grid-x.grid-margin-x.search-repeat   
                                .cell.large-4.medium-4.search-bg-cell
                                    .search-img(style="background-image: url(../assets/image/ef.jpg)")
                                .cell.large-8.medium-8.search-bdr.search-bg-cell-second                             
                                    .search-category
                                        ul         
                                            li
                                                h3 category
                                            li
                                                h4 MON, JUL 09
                                    .search-heading-h2
                                        h2 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    .search-heading-h3
                                        h3 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula
                           
                            .grid-x.grid-margin-x.search-repeat   
                                .cell.large-4.medium-4.search-bg-cell
                                    .search-img(style="background-image: url(../assets/image/ef.jpg)")
                                .cell.large-8.medium-8.search-bdr.search-bg-cell-second                             
                                    .search-category
                                        ul         
                                            li
                                                h3 category
                                            li
                                                h4 MON, JUL 09
                                    .search-heading-h2
                                        h2 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    .search-heading-h3
                                        h3 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula


                            .grid-x.grid-margin-x.search-repeat   
                                .cell.large-12.search-bdr.search-bg-cell-second                             
                                    .search-category
                                        ul         
                                            li
                                                h3 category
                                            li
                                                h4 MON, JUL 09
                                    .search-heading-h2
                                        h2 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    .search-heading-h3
                                        h3 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula


                            .grid-x.grid-margin-x.search-repeat   
                                .cell.large-4.medium-4.search-bg-cell
                                    .search-img(style="background-image: url(../assets/image/ef.jpg)")
                                .cell.large-8.medium-8.search-bdr.search-bg-cell-second                             
                                    .search-category
                                        ul         
                                            li
                                                h3 category
                                            li
                                                h4 MON, JUL 09
                                    .search-heading-h2
                                        h2 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    .search-heading-h3
                                        h3 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula
                            
                            
                            .grid-x.grid-margin-x.search-repeat   
                                .cell.search-bg-cell
                                    .search-img-second(style="background-image: url(../assets/image/Rectangle.png)")
                                

                            each itam in [1,2,3,4,5,6,7]
                                .grid-x.grid-margin-x.search-repeat   
                                    .cell.large-4.medium-4.search-bg-cell
                                        .search-img(style="background-image: url(../assets/image/ef.jpg)")
                                    .cell.large-8.medium-8.search-bdr.search-bg-cell-second                             
                                        .search-category
                                            ul         
                                                li
                                                    h3 category
                                                li
                                                    h4 MON, JUL 09
                                        .search-heading-h2
                                            h2 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        .search-heading-h3
                                            h3 Heading goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac erat metus. Etiam volutpat vehicula
                            
                            .grid-x.grid-margin-x.search-repeat   
                                .cell.search-bg-cell
                                    .search-img-second(style="background-image: url(../assets/image/Rectangle.png)")
                            .archive-load-more
                                button load more

                    .cell.large-1.medium-2
            include footer
                    