section#top-stories
    .top-stories-main
        h2 top stories
        .top-heading-t
            .top-heading-img
                img(src="../assets/image/ef.jpg", alt="")
            .top-heading-th
                h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam    
        .top-heading-t
            .top-heading-img
                img(src="../assets/image/ef.jpg", alt="")
            .top-heading-th
                h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam
        .top-heading-t
            .top-heading-img
                img(src="../assets/image/ef.jpg", alt="")
            .top-heading-th
                h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam
        .top-heading-t.heading-lat-bdr
            .top-heading-img
                img(src="../assets/image/ef.jpg", alt="")
            .top-heading-th
                h2 Heading goes here lorem ipsum dolor sit amet, sectetur adipiscing elit. Nam
    .top-add-img-cls
        .top-add-img(style="background-image: url(../assets/image/bt.png)")

    .news-section.medium-4.top-stories-section
    .news-two.top-stories-news
        p get news in your inbox
    .sign-in-section
        input(type='text', placeholder='Email address', name='email', required='')
        button.signupbtn(type='submit') Sign Up

    .submit-letter
        .submit-letter-P
            p Submit a Letter
        .submit-letter-btn.text-center
            button(type='submit', form='nameform', value='Submit') more

    .twitter-main    
        .twitter-p
            p twitter

