include head
body
    #multimedia-wrapper
        .wrapper.multimedia-wrapper
            
            h2
            .carousel
                div 
                    .video-control
                        video( controls='')
                            source(src="../assets/image/video.mp4", type='video/mp4')
                div 
                    .video-control
                        video( controls='')
                            source(src="../assets/image/video.mp4", type='video/mp4')
                div 
                    .video-control
                        video( controls='')
                            source(src="../assets/image/video.mp4", type='video/mp4')
                div 
                    .video-control
                        video( controls='')
                            source(src="../assets/image/video.mp4", type='video/mp4')
include scripts